[2015-06-02 01:15] kenfehling opened #13 "Is step 3 in deploying to Heroku neccesary?"
I deployed right to Heroku without doing this and it seemed to work fine.

[2015-06-02 05:30] choonkending commented on #13
@kenfehling Good find!
We used to run webpack before I added webpack into the postinstall build step in `package.json`. Will remove it shortly!

[2015-06-02 08:21] #13 closed

[2015-06-04 02:10] choonkending opened #15 "Moving code to ES6"
Most of the syntax still is in ES5. The plan is begin changing them to ES6 syntax, but still leave it properly documented with ES5 syntax for those who are unfamiliar with it.

[2015-06-04 02:57] choonkending opened #16 "Add tests"
We're missing testsssss!

Couple of candidates in mind:
- [jest](https://facebook.github.io/jest/docs/tutorial-react.html)
- Mocha because [this](http://www.hammerlab.org/2015/02/14/testing-react-web-apps-with-mocha/) guy says so

Suggestions welcome!

It should also run easily with webpack.

[2015-06-04 03:00] choonkending opened #17 "Better use of alt and utils"
There are tons of goodies to be used from the alt [utils](https://github.com/goatslacker/alt/tree/master/src/utils). I'd like to provide a really solid starting point with good examples of how to utilise them.

[2015-06-06 14:47] choonkending commented on #15
Beginning with this branch:
https://github.com/choonkending/react-webpack-node/tree/feature/es6

[2015-06-07 14:42] choonkending commented on #15
Done! Needs a bit of fixing up with eslintrc. But closing this branch.

[2015-06-07 14:42] #15 closed

[2015-06-07 15:04] choonkending opened #19 "eslint unexpected token ="
Moving to [ES6](https://github.com/choonkending/react-webpack-node/blob/master/docs/ReactInES6.md) made things a bit weird for eslint.
![screen shot 2015-06-08 at 12 54 06 am](https://cloud.githubusercontent.com/assets/3787885/8024523/264125f0-0d7a-11e5-8a60-46c3bef9fb8e.png)

Tried debugging it but no luck.

Any ideas @psimyn?

[2015-06-07 15:14] psimyn commented on #19
needs to use to babel-parser

https://github.com/psimyn/react-webpack-node/commit/a40611f8be1101db622443e0c0fdd03aec8323f8

[2015-06-07 15:17] choonkending opened #20 "Fixing images and resolving their paths"
Currently the catch all in [routes.js](https://github.com/choonkending/react-webpack-node/blob/master/server/config/routes.js#L61) is not an elegant solution. Every request goes through the react-router unless specifically caught by the if statement.

Also, [initialImages.js](https://github.com/choonkending/react-webpack-node/blob/master/app/utils/initInitialImages.js) is definitely not a nice way

[2015-06-07 15:58] choonkending commented on #19
Thanks! Too much of a champion! :+1:

Fixed that issue. Will sort out the sort-comp error when I get the chance!

[2015-06-08 06:09] choonkending commented on #19
sort-comp error fixed.

[2015-06-08 06:09] #19 closed

[2015-06-08 06:19] choonkending commented on #20
Using html-loader is another issue altogether, but worth looking at nonetheless, as I think sokra has already addressed this issue in a cool way in his example [repo](https://github.com/webpack/react-starter)

[2015-06-16 19:03] gsccheng opened #23 "Problems with watching and recompiling (npm build)"
Hi, first thanks for this boilerplate. I'm a beginner.

I ran the npm watch command so I don't need to keep manually rebuilding the app every time there's a change. However, upon running it the app isn't recompiling and I get a huge message, a lot of it that has to do with these type of errors in the react components as shown below

[code]

Here is that line 38 it is referring to:

[code]

It look

[2015-06-17 03:13] psimyn commented on #23
They are just warnings, so shouldn't cause any trouble. jscs was using an experimental parser, that was possibly causing the warnings.

I've added PR to remove it, as style enforcement can be done with eslint. Once that is merged this should fix the warnings.

Thanks for the feedback!

[2015-06-17 03:13] #23 closed

[2015-06-22 20:47] joshhornby opened #26 "ES6 Node"
Hey,

First of all love this application - it is a fantastic learning tool!

I have a quick question, is there a reason the node part of this app isn't wrote using ES6?

[2015-06-22 23:37] choonkending commented on #26
@joshhornby Thanks for your feedback!! :)

I didn't rewrite the node part in ES6 initially because it was not part of the webpack build step and I thought Heroku didn't support the node 0.12 runtime.

But I'm happy to have the node end have a ES6 refactor. If you're interested, would you like to submit a PR for this?

[2015-06-23 04:31] gsccheng opened #27 "Where is the universalRenderer in app/app.js imported to?"
Hi, in trying to understand the flow of the app, I came upon the app/app.js file where the universalRenderer is exported per below:

[code]
However, I am unable to find what file actually imports it. I did a search but wasn't able to find anything. Is the universalRenderer only executed on the client-side after it's built or minified or something?

Thanks!

[2015-06-23 04:40] psimyn commented on #27
webpack config creates 2 versions of this: app.js and app.server.js

The server rendered one is included in ```server/config/routes.js``` on the server side. This takes the HTML of ```app/base.html```, which includes the client-rendered app.js in a script tag.

[2015-06-23 05:52] gsccheng commented on #27
Oh ok, looks like the `export` function is necessary for Webpack to pick it up properly-- I'm guessing it is translated to one of these strange lines like this `exports['default'] = UniversalRenderer;` which is somehow used in app.server? I was just used to every `export` of a file be complemented by an `import` in another file to actually use it.

[2015-06-23 06:11] choonkending commented on #27
@gsccheng Yep!
[Webpack](http://webpack.github.io/docs/what-is-webpack.html) bundles the entire App, and because I'm exporting it as a function, we supply it arguments to be used [here](https://github.com/choonkending/react-webpack-node/blob/master/server/config/routes.js#L74)

[code]

Hope that helps.

[2015-06-23 06:59] gsccheng commented on #27
Thanks guys for your quick responses and concern! It truly feels good to know that there are people there to help, especially when you may be a bit shy broadcasting out into the world, and tackling something complicated (at least for me).

@choonkending What I meant was more about the export of `universalRenderer(alt, routes, html);` in `app/app.js`, (not the export of `../../public/assets/app.ser

[2015-06-23 07:31] choonkending commented on #27
@gsccheng Spot on! :)

[2015-06-23 12:08] choonkending commented on #27
@gsccheng I'm closing this issue. If you have any questions, feel free to open another one or join our Gitter room!

[2015-06-23 12:08] #27 closed

[2015-06-23 12:46] joshhornby commented on #26
I should have some time to ES6 the node side, although may need some help with the webpack build step.

[2015-06-23 16:07] drosko opened #28 "Socket.io Route Warning"
When I run 'npm start' I get endless warnings of "No route matches "/socket.io/?EIO=3&transport=polling&t=XXXXXXXXXXX-XXXXX". Make sure you have <Route path="/socket.io/?EIO=3&transport=polling&t=XXXXXXXXXXX-XXXXX" somewhere in your routes. Any idea why this would be happenning?

[2015-06-23 16:50] joshhornby commented on #28
Wouldn't having a '.' in url cause this issue? Have you tried ```/socketio/etc```

[2015-06-23 17:17] drosko commented on #28
Probably, but I don't even know where it's coming from. Haven't made any changes to the repo, just cloned and ran it.

[2015-06-23 23:16] choonkending commented on #28
@drosko Thanks for letting us know.

Socket.io was an old dependency used in the repo and I removed it a while ago.

Could you try pulling the latest master and npm install again ? (That will compile the bundle again)

Let me know how that goes. :)

[2015-06-24 06:28] choonkending commented on #26
@joshhornby Sure thing! Thanks!

[2015-06-25 22:27] InstanceOfMichael opened #29 "'id' created clientside, mongodb '_id' ignored?"
What's the reason for this?

[2015-06-25 22:35] InstanceOfMichael opened #30 "how did "this.props.topics" get defined inside MainSection::render ?"
in ``app/components/MainSection.react.js`` line 7

[code]
how did ``this.props.topics`` get defined? I was attempting to copy every part of topic into a new mongodb collection type but for some reason ``this.props`` only contained ``{params: {}, query: {}}``

[2015-06-25 23:45] choonkending commented on #30
@InstanceOfMichael

this.props.topics gets passed the topics from it's Parent Component - Vote.react.js.

[code]

So the topics are from TopicStore, which was bootstrapped with data from the server on first load.

Not sure if that helps? I need a bit more context to help out :)

[2015-06-26 04:02] choonkending commented on #29
@InstanceOfMichael

Thanks for asking.

We're going with the optimistic updates approach, so we create the `id` on the clientside -> send the request and update the view. Waiting for the server to respond with the mongodb `_id` generated will be a bad experience for the user imo.

So we're *assuming* that the update is successful first, and only update the UI to reflect the error if the request fa

[2015-06-26 19:43] drosko commented on #28
Ok great thanks, seems to not be happening anymore now,

[2015-06-27 00:29] #28 closed

[2015-06-27 17:55] guido4000 opened #31 "Login fails with "Error: Failed to serialize user into session""
Local login is not possible. Status changes to "Waiting ..." and stays there.
[code]

[2015-06-28 08:48] choonkending commented on #31
@guido4000 Thanks for letting us know!

You're right, when you do it locally, the database throws an error because there are no values within the database, and it only fails on the server end with a vague response when the user does not exist :(. The example email and password was intended for the demo website.

I was thinking of improving the login/register flow. In the meantime, the backend has

[2015-06-28 15:17] guido4000 commented on #31
Thank you for the feedback. I created this user, but still get a similar error.
[code]

[code]

[2015-06-28 21:06] SOSANA commented on #26
1+ be nice for people coming from ES5 to ES6 to see the difference. I will be hacking away with this. Be cool to have a branch for ES5 just for learning but understand the need to move forward with ES6.

[2015-06-29 04:01] choonkending commented on #26
@SOSANA Thanks!

Yea I agree. I considered having separate branches for ES5 and ES6 when I made the ES6 change, but went ahead with just one branch and thought having docs for it would be good enough.

I have a small README [here](https://github.com/choonkending/react-webpack-node/blob/master/docs/ReactInES6.md) for moving to ES6 from ES5 with React. If you like you can create a separate ES5 branc

[2015-06-29 04:33] SOSANA commented on #26
@choonkending your so money, Just checked outed README. Good job! Hope to contribute when I can :)

[2015-06-29 05:15] #30 closed

[2015-06-29 19:09] InstanceOfMichael commented on #30
Yes, that was helpful, thank you!

[2015-06-29 19:33] tsm91 opened #32 "@decorator function to compose classes"
Hi @choonkending, when i use a decorator function on a react class i get the following console.warn:

[code]

here is the example decorator

[code]

The code is working properly but i guess it wouldn't be always the case.

[2015-06-30 08:51] choonkending commented on #32
@tsm91 Yea, this occurs when the server rendered template returned is not the same as what the client expected.

If you are using the `UniversalRenderer` function, you might need to bootstrap the store in the store in [routes.js](https://github.com/choonkending/react-webpack-node/blob/master/server/config/routes.js#L69), instead of initialising the state like this ```this.state = {
        whateve

[2015-07-08 20:16] joshhornby opened #33 "Webpack dev server"
Just wondering if anyone has successfully managed to set up a [webpack-dev-server] (http://webpack.github.io/docs/webpack-dev-server.html) for this project?

[2015-07-08 22:40] choonkending commented on #33
@joshhornby Thanks for asking! We haven't set it up yet but it's on our to-do list. Was hoping for dev server and React hot loader to speed up dev work.

Would you be interested in working on this? I'll bump this up in priority. :)

[2015-07-08 22:42] joshhornby commented on #33
I was hacking around earlier and could get webpack-dev-server to work with hot loading but my issue was I didn't know how to run the ```server/index.js``` in webpack. Any ideas @choonkending

[2015-07-08 22:44] #29 closed

[2015-07-08 23:27] choonkending commented on #33
None yet, (was reading more about webpack-dev-server on the tram to work) :) If you have a branch up I can have a look!

[2015-07-09 07:51] joshhornby commented on #33
I have pushed up what I have. https://github.com/choonkending/react-webpack-node/pull/34 We just need to get the node app into the webpack config and it should work.

[2015-07-10 22:58] gsccheng opened #36 "Unable to Log in properly with Google"
Hi, I cloned a fresh copy from Master and after installing the dependencies I am unable to log in with Google.

From the `login` route, after clicking the green "Login with Google" button, I am redirected to the index page where the "Log in" button is still present in the Nav Bar.

On that note, are you working on a test suite? Do you have a list of priorities for new features published? Maybe I c

[2015-07-11 08:34] choonkending commented on #36
@gsccheng Hey thanks for asking!

You might have to export the variables:

[code]

This will also involve setting Google Authentication. You can follow the steps [here](https://github.com/choonkending/react-webpack-node/blob/master/README.md#setting-up-google-authentication)

Read more [here](https://github.com/choonkending/react-webpack-node#setting-up-google-authentication).

I have not yet crea

[2015-07-15 18:21] gsccheng commented on #36
Ah sorry, missed that! I thought the variables would have been read anyways through the `||` operator since you directly included your tokens/info in your secrets file. If I have anything for the tests I'll make a pull request. Thanks for all the hard work!

[2015-07-15 18:21] #36 closed

[2015-07-15 22:39] choonkending commented on #36
Thanks! :+1

[2015-07-17 13:30] kkotwal94 opened #38 "[Help]Routing and logging in/out"
So I decided to hack away at this boilerplate and thought of it as a great opportunity to learn react router and flux. I have a couple questions that have me stumped though. I get the express js/node code pretty decently. I know that we are setting up our routes for logging in and out, but where I get confused is at React Router.
What im trying to do is Have a Log In page, a Sign up page. The logi

[2015-07-17 21:00] kkotwal94 commented on #38
Ok so I kinda understand how it works now, handler renders whatever we import, and and I changed the way my structure works as well.
[code]

Where my router is..
[code]

I don't know if I did the "dash" one correctly, but its working, on login it redirects to /dashboard in the express server, /dashboard is filled with {App} and app does its thing.

However I would still like to understand how to d

[2015-07-18 04:43] choonkending commented on #17
Also update to https://github.com/goatslacker/alt/blob/master/CHANGELOG.md#0171

[2015-07-19 02:19] choonkending commented on #38
@kkotwal94 Hey thanks for commenting!

It feels like your question is more regarding how [react-router](https://github.com/rackt/react-router) works.

I added a [Logout action to my link](https://github.com/choonkending/react-webpack-node/blob/master/app/components/Navigation.react.js#L39), and made an API call to the /logout endpoint via Ajax (behind the scenes).

Does that help? Haha :)

[2015-07-19 19:04] kkotwal94 commented on #38
Yea it does, sorry for missing the obvious I totally skipped over the UserAPI. I was wondering how we were binding the data to the front end. I finally figured out how react-router, now im trying to figure out how flux works and writing react in es6.

[2015-07-19 22:36] choonkending commented on #38
No worries. It might be a bit confusing at first, but now that I use the flux design pattern and es6, I can't go back!

[2015-07-19 22:36] #38 closed

[2015-07-20 19:38] kkotwal94 opened #39 "Localstorage/session storage and persistence"
Why is it when I run the heroku demo, I can refresh and still be logged in whereas when I run it on localhost the data/stores also refresh. Does persistence not work with localhost? It seems like my session ID won't save either as a cookie.

[2015-07-20 20:29] kkotwal94 commented on #39
You can close this, thanks for the helpful comments in the files. I realized that the secure setting under cookie was on, therefore it wouldnt work on anything over https

[2015-07-20 22:11] choonkending commented on #39
Sure thing :) closing issue.

[2015-07-20 22:11] #39 closed

[2015-07-23 10:53] joshhornby opened #40 "React Router not handling URLs with slashes"
There seems to be an issue with URLs with slashes.

For example if you try

[code]

You will receive the following error

[code]

The full ```routes.js``` file is here

[code]

Not sure what might be causing this? Something to do with express or node?

[2015-07-23 11:49] #33 closed

[2015-07-23 12:36] choonkending commented on #17
Might consider using this https://github.com/goatslacker/alt/blob/master/src/utils/AltIso.js

[2015-07-23 12:57] psimyn commented on #40
change `name="about/us"` to `path="about/us"`

[2015-07-23 12:58] psimyn commented on #40
@choonkending possibly worth changing all the routes to use path? I'm not sure of the purpose of name in routes

[2015-07-23 13:03] joshhornby commented on #40
@psimyn Ah yes! How stupid of me! Thanks

[2015-07-23 13:04] choonkending commented on #40
@psimyn Thanks. Had a look [Route API](http://rackt.github.io/react-router/#Route). I'll give it a test tomorrow. Definitely worth changing.

[2015-07-23 13:12] joshhornby commented on #17
Might be worth using https://github.com/goatslacker/alt/blob/master/src/utils/connectToStores.js or https://github.com/goatslacker/alt/blob/master/components/AltContainer.js if you are considering an alt refactor.

[2015-07-23 13:17] choonkending commented on #17
As a matter of fact I am, and have been considering these good utils, but
haven't tested them out yet :)

Thanks! @joshhornby

On Thu, Jul 23, 2015 at 11:12 PM, Josh Hornby <notifications@github.com>
wrote:

--
Kind regards,
Choon Ken Ding

[2015-07-23 13:28] choonkending commented on #20
This should be working now https://github.com/choonkending/react-webpack-node/commit/72fa56307ec9d19c82c3b24e51c9fcb278e6831e.

@psimyn Can you try including images again? I remember you mentioning it was broken.

[code]

[2015-07-23 13:36] joshhornby opened #41 "Restricted areas for certain parts of the app"
I am using this boilerplate as the base for a project I am currently working on.

Once a users has logged out I want to stop them being able to access certain areas of the app, for example a ```<Dashboard />``` component.

Do you know of a nice way to do this?

[2015-07-23 13:43] choonkending commented on #41
Good question. When I did this the last time, I had a UserStore on the
Navigation Component that hid the links if the user was not authenticated.
The dashboard component  and endpoint should also redirect to the login
page if they accessed directly.

I'll have a think to see if there is a better way about this. :)

On Thu, 23 Jul 2015 23:36 Josh Hornby <notifications@github.com> wrote:

[2015-07-23 13:52] psimyn opened #42 "duplication in webpack configs"
client / server configs share most options, so can have a common set and just override things like `target` as needed.

maybe need a common.config imported by webpack config and dev-server config

[2015-07-23 22:15] choonkending commented on #42
Agreed. We can have a make-webpack-config that I've seen around. I didn't
do it for hot loader cause I thought it might be overkill. It s definitely
worth doing.

:+1

On Thu, 23 Jul 2015 23:52 Simon Knox <notifications@github.com> wrote:

[2015-07-24 08:24] joshhornby commented on #40
@psimyn @choonkending Seems that there is an issue on refresh, for example if I have ```<Route name="about" path="about/us" handler={About} />``` and I go to the page from the nav bar it works, but if I was to go to the page directly http://localhost:3000/about/us I'd get the following errors:

[code]

[2015-07-24 08:31] psimyn commented on #40
@joshhornby check your path again :)

missing leading slash

[2015-07-24 08:33] joshhornby commented on #40
```<Route name="about" path="/about/us" handler={About} />```

Same error.

[code]

[2015-07-24 08:54] choonkending commented on #40
This seems like an issue with react router not finding the correct handler
on the server. Might because the name is different from path.

Also could you try pulling the latest changes? The other warnings should
not appear now because I fixed the source map issue.

On Fri, 24 Jul 2015 18:33 Josh Hornby <notifications@github.com> wrote:

[2015-07-24 08:58] choonkending commented on #40
Also is there a reason why you have /about/us? It normally suggests that
there is a nested route.

I would normally name it /about-us :)

On Fri, 24 Jul 2015 18:54 choon ken ding <aenkil@gmail.com> wrote:

[2015-07-24 09:00] joshhornby commented on #40
@choonkending Just an example to illustrate to bug more than anything.

[2015-07-24 09:04] choonkending commented on #40
Ahh I see. Lol sorry about that. I thought I should call that out in case
you were doing that in production hehe.

I'll try to replicate your issue later and give you feedback

On Fri, 24 Jul 2015 19:00 Josh Hornby <notifications@github.com> wrote:

[2015-07-24 14:01] choonkending commented on #40
@joshhornby

`<Route name="about" path="/about/us" handler={About} />` shouldn't have a problem. I don't think the issue is this. I used `<Route name="about" path="about/us" handler={About} />` and it worked for me.

I could access the page, but I needed to put a leading slash in my `src` in `base.html`

[code]

Also needed to change `"rel": "stylesheet", "href": "/assets/styles/main.css"` in `hel

[2015-07-24 17:55] kkotwal94 opened #43 "Webpacking npm module and using its files"
I'm a little confused on how webpack is grabbing npm modules and including them.

For example:

[code]
i Know this includes our node_modules path, but what if im using a library, and I want to link its css and js files to my basehtml, then I would go to helmconfig.js right? Then add the link href to the links. But would it be something like this?
[code]
and the js file would I just include it <scr

[2015-07-25 00:19] psimyn commented on #43
you should be able to just `require('alloy-editor')` where you need it in particular components - if the path doesn't resolve you can potentially add a alias to the resolve section of webpack config.

For the css, right way is still being decided.. If you are using current master, you should be able to include in main.scss, but you'll need to resolve the path relative to node_modules. For example

[2015-07-25 02:50] choonkending commented on #43
@psimyn Good analysis.

I think having your first `@include "alloyeditor/dist/alloy-editor/assets/alloy-editor-ocean-min.css";` is neater, especially if you are debugging and looking through the scss/css, it won't be immediately apparent that it belongs from a node module if we do it `@include "alloy-editor-ocean-min.css"`.

[2015-07-25 05:35] choonkending commented on #41
@joshhornby For reference I did [this](https://github.com/choonkending/reap/blob/master/app/components/Navigation.react.js) the last time when trying  to connect with postgresql database. That was a different repo based off this one.

It hides the Links if the user is not logged in. However, there is still additional work to do if you want it to handle users who go to the link directly, i.e. `/das

[2015-07-25 05:52] #20 closed

[2015-07-25 18:15] kkotwal94 commented on #43
I'm not using the current master probably the version before react-hot-loader was added. Well in this case if I wanted to use AlloyEditor,it would be import * from 'alloy-editor' (ES6) in the component I'm using it at right? Also can you explain the alias for the for the resolve part of the webpack.config file a bit more. Thanks btw I really appreciate it.

[2015-07-26 19:12] joshhornby commented on #40
Perfect this seemed to fix it :+1: thanks @choonkending

[2015-07-26 19:12] #40 closed

[2015-07-27 11:19] choonkending commented on #43
@kkotwal94 Yes you can import it that way.

As for the `resolve` part of the webpack config, you can read more [here](http://webpack.github.io/docs/configuration.html#resolve).

The resident webpack expert here is @psimyn. But I'll attempt an explanation.

[code]

This tells webpack to search through those directories (besides the current directory) when it encounters a file/module with those exte

[2015-07-27 15:57] kkotwal94 commented on #43
[code]
After looking at the documentation and trying this, hitting npm runscript start or watch, both tell me that it still can't resolve the module.

[2015-07-27 22:08] choonkending commented on #43
If your alias is alloyeditor, did you import alloyeditor or alloy-editor.

Otherwise check the path for alloyeditor, whether it really is the correct
directory. It'll be helpful if you paste your webpack config + what error
is thrown here if the above suggestions don't work out :)

On Tue, 28 Jul 2015 01:57 kkotwal94 <notifications@github.com> wrote:

[2015-07-28 00:10] kkotwal94 commented on #43
[code]
As for importing it, i tried 3 ways.
[code]
My file structure is here : https://github.com/kkotwal94/IsoReportProcessor

as for the error it is
[code]
when importing * as alloy from alloyeditor

and

[code]
when hitting npm start (running server.js) however webpack does not spit and issues if I change it during it is watching.

I also tried finding the path from the directory, and it still

[2015-07-28 23:15] choonkending commented on #43
@kkotwal94 No luck on my end.

Not sure about how `alloyeditor` is meant to be used. I tried npm installing the package, and I added a `  "main": "dist/alloy-editor/alloy-editor-all-min.js",` into the package.json for alloyeditor.

Then I could `import * from alloyeditor`, but I set it up as an entry point only for the browser so the server won't throw an error. (There were certain `window` checks

[2015-07-28 23:22] choonkending commented on #17
Maybe it's also worth waiting for https://github.com/goatslacker/alt/pull/364 that could potentially replace our `UniversalRenderer`.js

[2015-07-29 13:01] kkotwal94 commented on #43
gotchya, well I guess i'll be back with a solution. Perhaps maybe you know any wysiwyg that work with webpack and es6?

[2015-07-30 05:49] choonkending commented on #43
@kkotwal94 Good work!!

[2015-08-01 02:54] lachlanjc opened #44 "Create a Yeoman generator"
It'd be pretty awesome to have this as a [Yeoman](http://yeoman.io/) generator :)

[2015-08-02 07:43] choonkending commented on #44
@lachlanjc Excellent suggestion. I've been skirting around this issue for a bit, never got around to it :P

Are you interested in creating a PR or working with us on this one? :D

[2015-08-02 13:52] lachlanjc commented on #44
@choonkending I'd love to, but I've never made a generator. I was just introduced to Yeoman a few days ago, and started looking around for generators. This project looked pretty close to the stack I wanted for a new project, but was disappointed there was no Yeoman generator. However I have no idea how to create one, so I can't really PR 😁

[2015-08-03 11:28] sijo-vijayan opened #45 "Session variables not available in topics.js"
I don't getting session data in the topics.js page, How to fix it ?

[2015-08-03 13:29] choonkending commented on #43
@kkotwal94 Will close unless you have more questions :)

[2015-08-03 13:29] #43 closed

[2015-08-03 13:41] choonkending commented on #45
@sijo-vijayan Thanks for commenting!

I need a bit more context on the error you are getting, i.e.

1. What are the error messages you are getting?
2. How are you running it? (Locally?)
3. Can you list down the steps to reproduce this error?

[2015-08-03 13:53] sijo-vijayan commented on #45
No errors, But i need to get the session variables such as user id, e-mail, name etc from the passport.js session. I have tried the  "req.user" property to get this data , but no use. I have tried the changes in code  as given in this
url http://passportjs.org/docs/#middleware

I just want a login protected page
I hope you understand what i'm talking about.

Thanks

[2015-08-04 12:18] kkotwal94 opened #46 "failure to fetch data sometimes, or route not loading"
I don't know how to debug this exactly or where to start. When ever I traverse through routes in my single page app sometimes going back to the route the server stops responding and doesn't fetch any data to present to the app. I thought it was my routes at first but I'm not sure where to start or even look at. Is it maybe something to do with my API, could too many ajax calls be getting called? A

[2015-08-06 00:33] choonkending opened #47 "React Router with protected routes example"
This has been a frequent question. Gotta get this one out!

[2015-08-06 01:10] LarryEitel opened #48 "Running on Windows... everything installs find with mongo running"
I can run node run `node server/index.js` OK. I open `http://localhost:3001/` and it renders `Cannot GET /`.

Your repo is the closest to what I am looking for to start my foray into reactjs.

I prefer to run on windows for the client app that will hit my Laravel API already setup for CORS.

I see a base.html in the app DIR. What am I missing here?

[2015-08-06 03:31] choonkending commented on #48
@LarryEitel Can you run `npm run build` and then run `npm start`. Then you can access `http://localhost:3000` instead of `3001`.

Let me know if that helps.

[2015-08-06 03:32] choonkending commented on #46
@kkotwal94 Hmm. Do you have some code for us to look at and some reproducible steps? I think I get what you're saying but if you have something I can reproduce reliably it can really speed up our debugging process. :D

[2015-08-06 03:44] choonkending commented on #45
@sijo-vijayan I don't think we have login protected pages within this boilerplate currently but we are planning on adding that in, created an issue for that https://github.com/choonkending/react-webpack-node/issues/47.

You should be able to access `req.user` like how we do so https://github.com/choonkending/react-webpack-node/blob/master/server/config/routes.js#L62.

[2015-08-06 09:33] joshhornby commented on #47
This would be great, perfect timing as I need to get this sorted in an application of mine!

[2015-08-06 11:47] LarryEitel commented on #48
I hacked `package.json` to accommodate setting environment variables in Windows:
[code]

It works now. Can't think of an elegant way to accommodate linux AND windows for setting environment variables in one line.

I am very happy to get you project running locally. Thank you for sharing!! :)

Do you intend to maintain this project along with your reap version? I am working with MySql so I will be

[2015-08-06 12:25] LarryEitel commented on #48
Moving on... I now run `npm run watch / watchDev`. Everything seems to initialize however nothing renders when I hit `http://localhost:3000/`.

This may be informative:

[code]

Chrome `Network ` tab showed failed attempt to load `localhost`.

[2015-08-06 12:39] choonkending commented on #48
@LarryEitel

That made my day! Thanks! :)

I will be maintaining this project actively in my spare time. The reap version was more of a proof-of-concept for working with Postgresql. :)

If you run `npm run watch`, you will still need to have another tab open running `npm start` for the server to start. `npm run watch` recompiles on any file changes, but does not restart the server.

If you want to

[2015-08-06 12:59] kkotwal94 commented on #46
Yea, I'm not sure if this is it. Here was how I reproduced it, between the route /reportsall and reports/:id i just spammed back and forward buttons (alt+right, alt+left) and I kept doing it until it would just say undefined where the data should be. I can hit refresh but it will state waiting for localhost and take a lot longer than usual to refresh. On Firefox this issue will not ever happen, sa

[2015-08-06 15:05] LarryEitel commented on #48
@choonkending SO CLOSE!!! In one tab I run `npm run watchDev` and another I run `npm run dev`. I hit `http://localhost:3000/` and **BADA BANG** it works!!! However, when I make a change to code, although both tabs refresh/rerun their stuff, **BADA BOOM!!!**. Even if/when I manually refresh or it refreshes with `LiveReload`, the change is not reflected in the browse UNLESS I rerun `npm run dev`.

A

[2015-08-06 17:22] kkotwal94 commented on #46
I'm starting to think this is a ajax call thing, and how im writing my API, will try some stuff out and reply back later!

[2015-08-06 18:23] LarryEitel commented on #48
Ok, got things to a workable state using gulp and [LiveReload](http://livereload.com/). Used this tutorial: [Tutorial – How to use Livereload with Nodemon in Gulp to Automatically Reload your Browser and Restart your App](http://jpsierens.com/tutorial-livereload-nodemon-gulp/)

I ran: `npm install --save-dev gulp gulp-livereload gulp-notify gulp-nodemon express` (express can be excluded)

Here's m

[2015-08-06 18:57] LarryEitel opened #49 "sourcemaps, Chrome not loading it"
Running `npm run watchDev` in one tab and `npm run dev` (actually using gulp which reloads server on changes).

`app.js.map` is being built. However, even though Chrome is configured to handle source maps, I'm not seeing in `Chrome Developer Tools`. Any other hoops I have to jump through? :)

[2015-08-09 10:26] choonkending commented on #45
@sijo-vijayan I think I'm encountering the same problem as you. I'll look into this now and see what's causing the issue.

[2015-08-09 12:57] choonkending commented on #49
@LarryEitel Thanks for raising this as an issue. I haven't looked into this yet, but will do next week.

:) Not sure if there are any more hoops to jump through :)

I just pushed a new commit to fix sessions running locally. So `package.json` has changed slightly. You might want to have a look if that affects your workflow.

[2015-08-09 13:00] choonkending commented on #45
https://github.com/choonkending/react-webpack-node/commit/46f7cb0184668b2fbd77c186f9b3b5bd52f30c33

should probably give you access to `req.user` now.

[2015-08-10 06:37] sijo-vijayan commented on #45
Wow !!!, Now it is working properly.
Thanks you @choonkending

[2015-08-10 06:37] #45 closed

[2015-08-10 16:05] kkotwal94 opened #50 "Hitting refresh on nested routes"
I have my routes set up in a way where nested routes exist. When hitting refresh on non nested routes it loads the stores and html fine with this:

[code]
So I decided to mess with a bit and try to understand why none of the css or data was loading on the refresh of nested route that is dynamic (based off '/x/:id') so I decided to do something like this.
[code]
<strong>I just wanted to know if wha

[2015-08-10 16:09] joshhornby commented on #50
On a separate but somewhat related note I am having issues with the render as well - I am trying to create a protected route following something like this http://www.aaron-powell.com/posts/2015-06-08-implementing-security-in-react-with-react-router.html

But my ```willTransitionTo``` method is failing with the following error ```Error: Unhandled aborted transition! Reason: [object Object]```

I ha

[2015-08-10 18:45] joshhornby opened #51 "Error: Unhandled aborted transition! Reason: [object Object]"
As mentioned here https://github.com/choonkending/react-webpack-node/issues/50#issuecomment-129511751 I am having issues when trying to set up an authenticated route.

You can see [in the following code example](https://github.com/joshhornby/react-webpack-node/commit/a7701eaa7004c069c124ffe766da03baed7d942f) - if you try and visit the about route via the nav bar you will successfully see the login

[2015-08-10 22:27] choonkending commented on #51
Thanks! I was trying the protected routes last night (on a branch I haven't
pushed up yet) and encountered the same error on refresh.

I'll have a look at react router server location. Thanks for that!

On Tue, 11 Aug 2015 04:45 Josh Hornby <notifications@github.com> wrote:

[2015-08-10 22:33] joshhornby commented on #51
No worries @choonkending

After looking at using React Router server side I was most stuck on how to pass the local data through.

Looking forward to seeing what you come up with :+1

[2015-08-10 22:34] choonkending commented on #50
@kkotwal94 the boilerplate was meant to deal with nested routes initially, but I'm not sure it applies in your case. I'll have a look after I finish the protected routes feature #47 and get back to you on that :)

[2015-08-11 03:07] kkotwal94 commented on #50
Sure I'm going to continue to debug and figure it out, and thanks.

[2015-08-13 18:08] kkotwal94 commented on #50
[code]
I tried to run this on the server, but I always thought UniversalRender took care of this so I'm a bit perplexed. If I try to run it on the server it yells at me that "import" is a reserved word. Then I tried to install babel and call ```require("babel/register");``` but that didn't really work out either.

[code]

Looking at the last else statement we are using history to grab the path any

[2015-08-13 23:01] choonkending commented on #50
What happens is that webpack and babel compile the code into a function
which is used in routes.js in the server.

Nested routes shoudl work though. I'm currently working on a PR to use
react router 1.0 beta 3 so hopefully most of the issues will be resolved.
Still stuck with fixing it now :)

On Fri, 14 Aug 2015 04:08 Karan Kotwal <notifications@github.com> wrote:

[2015-08-15 04:04] choonkending opened #53 "Renaming *.react.js to *.jsx files"
I rather have the clear distinction that it's a jsx file

[2015-08-15 05:27] #53 closed

[2015-08-17 07:35] gsccheng opened #55 "Different Markup in Client and Server"
I am getting this warning message in the Chrome console:

 (client) ght:40px;width:40px;-webkit-user-select:
 (server) ght:40px;width:40px;user-select:none;bor

If I were to use the Mozilla browser, the client markup would be `-moz-user-select` instead of `-webkit-user-select`

I've isolated the different markup to originate from:
this `content` variable from the server:
[code]
this `container` ar

[2015-08-17 19:06] kkotwal94 commented on #55
I don't use the hotloader, but yea using just webpack watch just throws that error as well unless I restart the server. As of the serverside rendering @choonkending said he was working on implementing ReactRouter 1.0 beta.

https://github.com/choonkending/react-webpack-node/issues/50

[2015-08-18 02:07] choonkending commented on #55
@kkotwal94 Thanks for replying! (Still progressing on react-router beta, but it's looking good since this morning on the tram lol).

.replace("LINK", Header.link);

This is intended, because we don't actually need it in hotloader. In the hotloader mode, we css gets required by webpack as a module, and we do not use `ExtractTextPlugin` to extract the css like in production.

@gsccheng Sorry for the

[2015-08-18 02:50] choonkending commented on #26
I've been using io.js to run npm.

We could go with node v0.12 with the --harmony flag (i think)

or io.js (which supports ES6 by default)

 @joshhornby what do you think? I'm leaning towards io.js.

Heroku also supports this: https://devcenter.heroku.com/articles/nodejs-support#specifying-a-node-js-version

[2015-08-18 07:42] joshhornby commented on #26
@choonkending I have no issues with switching to io.js.

Although whats the deal with io.js and node.js merging? I thought I heard discussions at one point?

[2015-08-19 05:38] praveen-ti opened #56 "Layout switching"
How to create a new layout for admin here. What all are the changes needed in routes and webpack.config files.

[2015-08-20 07:02] gsccheng commented on #55
@kkotwal94 , @choonkending thanks to both of you. So within that block:
[code]
I replaced the second line with
[code]
I still get the same error, which seems to make sense since I'm not even using the hotloader. Is that the line you wanted me to replace?

For suggestions `2` and `3`, what do you mean by test if the styles are included? The component (such as the avatar) is displayed as intended on

[2015-08-20 12:02] choonkending commented on #47
Reopen if we find any issues. :)

[2015-08-20 12:13] #51 closed

[2015-08-20 12:20] kkotwal94 commented on #55
That's strange, it doesn't even refresh? I haven't tried material-ui with this project at all. I actually just got into it because of this post. I don't know if it will help but i started building a personal web page project where I use react hot-loader with material ui and it works fine. Maybe something from this config file can spring a thought, I might just be off the ball completely too haha.

[2015-08-20 21:50] joshhornby opened #57 "User state after login doesn't contain req.user data"
Since the new React Router PR (https://github.com/choonkending/react-webpack-node/pull/52) I am doing something like the following once a user has entered the correct details https://github.com/rackt/react-router/blob/master/examples/auth-flow/app.js#L80

Once they get redirected the user store doesn't contain the server user state which can be seen here https://github.com/choonkending/react-webpa

[2015-08-20 21:53] joshhornby opened #58 "requireAuth not getting hit on page load"
The `requireAuth` function (https://github.com/choonkending/react-webpack-node/pull/52/files#diff-70012bb93dfce2be702a0251971c1db5R13) which was introduced in the PR https://github.com/choonkending/react-webpack-node/pull/52 works great if I click on a route with has a `onEnter` attached to it.

But if I visit a link via the url for example `localhost:3000/dashboard` I am redirected but the follow

[2015-08-21 00:47] gsccheng commented on #55
@kkotwal94 Thanks for your reply! Your response led me to just pull a fresh copy of this boilerplate and add a simple Avatar component, and wah lah, it works smoothly. So, my issue must be coming somewhere from my AJAX call after the Navigation component is mounted, the state changes, and the component is re-rendered. So, from here I can think of a few things to look into:
1) As @kkotwal94 mention

[2015-08-21 05:41] praveen-ti opened #59 "User and Admin login from different tables using passport js local strategy"
I have two different login tables, one for User and another for Admin. Can you please suggest what changes needed to do that logging possible from two different tables and also need to keep separate  session.

[2015-08-21 12:27] choonkending commented on #57
@joshhornby Hey I had a look into this. You can easily pass in the req.user object to be bootstrapped by alt.

Below is a horrid example:
[code]

Whereas your Dashboard.jsx could be something like:

[code]

We'll be using AltContainer soon hopefully so none of this listen to stores for every high level component lol

[2015-08-21 12:38] joshhornby commented on #57
@choonkending This still produces the same issue. After the intial login the user state only contains what has been set in the login action. Doing the example above doesn't work as `undefined` is returned when I do `props.user.get('object')` (I am already using AltContainer :+1: )

I will see if I can reproduce this bug this weekend and get an example repo online.

[2015-08-21 20:18] hsin421 opened #60 "Can not use 'composes' syntax in CSS"
The CSS modules set up is great. However, I can't seem able to use the 'composes' syntax in my css/scss files. (https://github.com/webpack/css-loader#composing-css-classes)

Does anyone have the same issue?

[2015-08-21 20:45] hsin421 commented on #60
Alright, I found that updating css-loader from 0.14.4 to 0.16.0 helps!

[2015-08-21 20:45] #60 closed

[2015-08-22 00:58] choonkending commented on #60
@hsin421 Thanks for pointing this out. The css modules set up was all @psimyn :+1:

I'm bumping out version up to 0.16.0 in case anyone wants to use composes too.

[2015-08-22 01:48] choonkending commented on #57
@joshhornby Can you also have a look at https://github.com/choonkending/react-webpack-node/pull/61? This is how I got AltContainer working.

[2015-08-22 07:17] joshhornby commented on #57
Sure. I'll base my example repo off this.
On Sat, 22 Aug 2015 at 2:48 am, Ken Ding <notifications@github.com> wrote:

[2015-08-22 09:01] joshhornby commented on #56
@praveen-ti I have created a PR (#62) with outlines what you will need to do. The PR also has some new code with isn't relevant to what you need, so to outline:

1) Create a new class which will house the admin layout (https://github.com/choonkending/react-webpack-node/pull/62/files#diff-b9823c8ef410f4b456968a4046e79272R1)
2) In the `rotues.jsx` file you will want to wrap everything in a `<Route>`

[2015-08-24 03:55] praveen-ti commented on #56
@joshhornby Thank you for you reply. I have fixed the issue. Created new layout for admin and switched layouts based on routing.
const routes = (
  <Route>
    <Route name="appadmin" path="/admin" handler={Admin} >
        <Route name="admin" handler={Adminlogin} />
        <Route name="/admin/login" handler={Adminlogin} />
        <Route name="/admin/logout" handler={Adminlogout} />
        <Rout

[2015-08-24 03:59] #56 closed

[2015-08-24 04:05] praveen-ti commented on #56
Hi,
Thank you for your reply.  I have fixed the issue.

Regards,Praveen
      From: Josh Hornby <notifications@github.com>
 To: choonkending/react-webpack-node <react-webpack-node@noreply.github.com>
Cc: praveen-ti <praveen.ts@titechnologies.org>
 Sent: Saturday, 22 August 2015 2:31 PM
 Subject: Re: [react-webpack-node] Layout switching (#56)

@praveen-ti I have created a PR (#62) with outlines wh

[2015-08-24 08:09] choonkending commented on #56
@joshhornby Too quick!

[2015-08-24 11:07] praveen-ti commented on #59
I have corrected this. Stackoverflow  reference link is here http://stackoverflow.com/questions/20052617/use-multiple-local-strategies-in-passportjs
and also modified the deserializeUser method like this;

passport.deserializeUser(function (id, done) {
    Admin.findById(id, function (err, user) {
        if (err)
            done(err);
        if (user) {
            done(null, user);
        } e

[2015-08-24 11:08] #59 closed

[2015-08-26 14:21] #47 closed

[2015-08-26 14:25] choonkending commented on #17
https://github.com/choonkending/react-webpack-node/pull/61

[2015-08-30 22:14] rhys-edwards opened #63 "npm run dev failing"
Can't seem to get this working.
I've ensured mongodb, mongoose are all installed. What am I missing?

[code]

[2015-08-31 06:20] rhys-edwards commented on #63
Had an unrelated mongo installation issue. Closing this.

[2015-08-31 06:20] #63 closed

[2015-08-31 06:24] rhys-edwards opened #64 "TypeError: Cannot read property 'makeHref' of undefined"
Still having issues getting this set up locally.
Have looked towards this but can't see the router being called twice in any components;
https://github.com/rackt/react-router/issues/1595

Thoughts?

[code]

[2015-08-31 13:24] reactor81 opened #65 "How to transitionTo after login/create/etc?"
Hi, I want to transition to a new page I've made after login, or after adding a topic (in the demo app), etc.

I've added the page to the routes.jsx <Route> section, and i can navigate to the page via URL no problem, or via <Link>..

But, what i need to do is navigate to a page of my choosing after creating a topic (e.g. in TopicActions.js or TopicStore.js (which is better and how can I do it?))

[2015-08-31 15:33] joshhornby commented on #65
@reactor81 Take a look at this comment on this PR https://github.com/choonkending/react-webpack-node/pull/62#issuecomment-135037510 It should answer your question for you.

[2015-09-01 02:26] choonkending commented on #64
@rhys-edwards Do you have a branch we could take a look at?

Also, try `npm install` again to make sure we've got the latest react-router. I had this problem before, but I fixed it with the new webpack.config.

[2015-09-01 02:36] rhys-edwards commented on #64
@choonkending no branches to speak of as it was a clean clone. Can re-up it for you to take a look like if you wish?

Gave `npm install` a go but still being thrown the same error.

[2015-09-01 08:14] choonkending commented on #64
@rhys-edwards Sure! Would be helpful. I will try to reproduce this error if possible.

[2015-09-01 08:16] choonkending commented on #50
@kkotwal94 Since the protected_routes change, has this still be an issue? I will close it if it has been resolved :)

[2015-09-01 08:16] #41 closed

[2015-09-01 13:49] reactor81 commented on #65
This works great, thx!

On Tue, Sep 1, 2015 at 12:33 AM, Josh Hornby <notifications@github.com>
wrote:

[2015-09-01 19:58] kkotwal94 commented on #50
You can close!

On Tue, Sep 1, 2015 at 4:16 AM, Ken Ding <notifications@github.com> wrote:

[2015-09-01 22:18] #50 closed

[2015-09-01 22:18] #65 closed

[2015-09-02 00:31] rhys-edwards commented on #64
@choonkending Something going wrong and I can't make a branch due to an auth issue with Github.

In the meantime, I've done a clean clone from the repo; seems like reactt-router has updated with the below.

https://github.com/rackt/react-router/issues/1789

This is now throwing an error:

[code]

[2015-09-02 04:05] choonkending opened #66 "Upgrade to react-router beta 4"
https://github.com/rackt/react-router/tree/master

[2015-09-02 05:47] davidlygagnon commented on #64
I'm also getting the same error on npm run dev.

[2015-09-02 09:45] choonkending commented on #64
@rhys-edwards @davidlygagnon  Thanks for letting me know. Yea since react-router is still in it's beta stages, there might be many changes. I'll try to get a working version up and running for you guys.

[2015-09-03 12:27] lucasmotta opened #68 "react-router missing modules?"
I've just downloaded a copy of this project and after installing the dependencies, I'm running:
[code]

But I get the following error, stating that it couldn't find a few modules inside [react-router](https://github.com/rackt/react-router):
https://gist.github.com/lucasmotta/37142dc1747389417d62 (error log)

And I couldn't find those files (used by react-webpack-node) on react-router:
- react-rout

[2015-09-03 22:47] choonkending commented on #68
Thanks for letting us know. Nope you are not missing anything :)

The react router library had been upgraded (couple of days ago) and I
believe they ve moved those files out into a different repo.

I haven't had the chance to fix this yet, but I'm hoping to fix this week.

On Thu, 3 Sep 2015 22:27 Lucas Motta <notifications@github.com> wrote:

[2015-09-04 08:58] lucasmotta commented on #68
Hey @choonkending, thanks for the quick reply. I think the main problem is described here: rackt/react-router#1820.
Since the API is constantly changing, maybe we should stick to the stable version (even thou with less features and different API) at least until version 1.0 is finally released.

[2015-09-04 09:32] joshhornby commented on #68
@lucasmotta React router beta was added in this PR https://github.com/choonkending/react-webpack-node/pull/52

Maybe its better changing this https://github.com/choonkending/react-webpack-node/blob/master/package.json#L63 to ```"react-router": "1.0.0-beta3"``` until v1

[2015-09-04 10:09] lucasmotta commented on #68
@joshhornby yeah make sense to lock down to that specific version - that how I "fixed" on my side :)

[2015-09-04 10:15] choonkending commented on #68
@joshhornby good call. I'll probably edit the package.json file to be fixed
until I find the time to ensure everything works on beta4

On Fri, 4 Sep 2015 20:09 Lucas Motta <notifications@github.com> wrote:

[2015-09-05 15:22] Grievoushead opened #69 "Why app.js weighs 1.34 MB"
I did ```npm run build```
then started in production mode ```npm start```
and in the browser network I see that app.js  weighs 1.34 Mb when in your demo it's 408 Kb.

[2015-09-06 03:38] choonkending commented on #69
@Grievoushead Thanks for commenting!

That's because when you run `npm run build` even in production mode you have to put a `-p` in the webpack config to minify the files.

What happens when I deploy to Heroku is that https://github.com/choonkending/react-webpack-node/blob/master/package.json#L16 line is run, where there is a `-p` parameter.

Alternatively, I can put UglifyJSPlugin in the webpack

[2015-09-06 03:52] choonkending commented on #69
I've added a fix for this d2604a3513d3b575c594d324529b218fc4f85af1 and https://github.com/choonkending/react-webpack-node/commit/4f71ebd670bbfe6553284d95383107c566b747d9. Let me know if this helps. :)

[2015-09-06 07:52] Grievoushead commented on #69
Great!, Thanks :)

[2015-09-06 07:52] #69 closed

[2015-09-10 13:53] dguillamot opened #70 "Images dissapear 2 seconds after page load"
Tested using npm run dev, and npm start.

When I connect to the server in a browser on the same machine that is running the server - no problem. I don't use localhost, and can connect via IP:3000 no problem. Images stay on screen.

When I connect from another PC or phone, the html all loads okay, the <img>s load briefly, and then 2 seconds later they dissapear.

I dont see any errors in the consol

[2015-09-10 13:53] #70 closed

[2015-09-10 13:55] reactor81 opened #71 "Images dissapear 2 seconds after page load"
Tested using npm run dev, and npm start.

When I connect to the server in a browser on the same machine that is running the server - no problem. I don't use localhost, and can connect via IP:3000 no problem. Images stay on screen.

When I connect from another PC or phone, the html all loads okay, the s load briefly, and then 2 seconds later they dissapear.

I dont see any errors in the console. It

[2015-09-10 14:24] reactor81 commented on #71
Nvm, resolved. Just a componentdidmount styling issue.

[2015-09-10 14:24] #71 closed

[2015-09-11 10:13] jure commented on #64
Just another data point I have the same issue here.

[2015-09-11 14:09] haganbt commented on #64
+1

[2015-09-11 14:55] choonkending commented on #64
I had this issue as well when react-router beta 4 was released. A temporary fix was to fix it to the beta 3 version https://github.com/choonkending/react-webpack-node/commit/4796bec1dcdd401c56b20213cc435f9d47a32ae7, until beta4 is sorted :)

Let me know if this does not fix it for you (remember to pull the latest version)

[2015-09-12 14:59] reactor81 opened #72 "How does auto-login happen?"
Can someone explain the startup-init flow that makes the user become automatically logged in when loading the page in a new window?

I login using the form, then close the window. When I come back, I am still logged in.

I am trying to trace the client and server code to see how this is done, but I don't see it clearly.

[2015-09-12 21:29] reggi opened #73 "Cannot read property 'makeHref' of undefined"
When running `npm run devHotLoader` and opening `http://localhost:3000/`.

[code]

[2015-09-15 09:21] jure commented on #64
Just letting you know, @choonkending, that on a fresh clone, running devHotLoader still produces the above error.

[2015-09-15 09:22] jure commented on #73
This is a duplicate of #64, not sure if there is a general solution yet, but you can always try running it without the hot loader.

[2015-09-17 18:55] nbwar opened #74 "Including external dependencies that require stylesheets do not work."
I've tried using external libraries that require css files via `require('someFile.css')` result in errors like the following

[code]

[2015-09-17 21:31] nbwar commented on #74
Fixed by adding `  { test: /\.css$/, loader: ExtractTextPlugin.extract('style', 'css!autoprefixer') }
` to webpack.config

[2015-09-18 15:41] kraffslol commented on #72
If you look in the server routes.js you can see that state is sent through res.locals. Which is then handled by Iso in client.jsx. Which passes the state through to alt, and then sets the user data in the UserStore.

[2015-09-18 18:22] kkotwal94 opened #76 "Trouble running devhotloader"
Running devHotLoader of a clean repo pull and opening up localhost:3000 gives me a error such as this:

```Invariant Violation: renderToString(): You must pass a valid ReactElement.```

I thought this was a peerdependency problem so I added react and reactdom into the devDependencies in Package.json but that didnt resolve the problem. Is the hot loader not running on 3000? I know the assets are pr

[2015-09-20 03:05] reactor81 commented on #72
Thanks!

[2015-09-20 03:06] reactor81 opened #77 "How to minify? 1.6 MB app.js file.. Other Tips?"
I'm getting ready to deploy to production in a week or so, but have noticed the app.js file is very large > 1MB.

I'd like to make it a lot smaller to make the download faster as it currently takes 5-7 seconds.

Any thoughts on how to get minification going or any other tips for performance (particularly on initial download). I can see the network tab in google chrome dev tools takes a long time f

[2015-09-20 03:35] psimyn commented on #77
I don't think the prod task currently does minifying.

[2015-09-20 04:15] kkotwal94 opened #78 "CSS issue"
I don't understand why a lot of my css is being overrided. For example if I have two different scss files for my sign up page and sign out page, it will load the css for whichever route i visited first. For example if signin has a red background, then signup will as well, even though the css I import for it has it set to blue(for signout). It also doesnt seem to be setting any of the 'id' or 'clas

[2015-09-21 02:40] kkotwal94 commented on #78
For the login issue i was having i was just not doing the wildcard get method on our server for checking req.user. Still havent figured out my css issue.

[2015-09-23 04:01] kkotwal94 commented on #78
Never mind I figured it out. Was having a derp moment here. I had to import styles from /scss/component_name, and then give the class of the element as
[code]

Didn't have to do this in previous versions though, is this a scss update?

[2015-09-25 09:12] #68 closed

[2015-09-25 09:17] choonkending commented on #78
@kkotwal94 Sorry for the late reply, not sure what you mean.

Do you mean that the way we access the style classes now are different? I.e. instead of `styles.about` we have to do `styles['about'] ` ?

[2015-09-25 09:18] choonkending commented on #72
@kraffslol Thanks for explaining!! Closing issue!

[2015-09-25 09:18] #72 closed

[2015-09-26 07:00] kkotwal94 commented on #78
Yea, thats what I meant, I figured it out derp moment

[2015-09-28 04:39] choonkending commented on #78
@kkotwal94 Cool. Closing issue.

[2015-09-28 04:39] #78 closed

[2015-09-30 11:29] hsin421 opened #79 "can't set media queries in CSS modules"
When I tried to write

`@media (max-width: 400px) { ...}`

I got the error "Media query expression must begin with '('"

@psimyn what do you think is causing this? I searched and found others using media queries in CSS modules like normal. No one seemed to have this issue. Thanks

[2015-10-06 17:23] hsin421 opened #80 "Migrate to Redux, maybe?"
I am going to try migrating to Redux.

1st step is to solve server side store hydrating with Iso + Redux. Any help?

Wish me luck.

[2015-10-07 03:40] choonkending commented on #80
@hsin421 Haven't tried Iso + Redux yet. But really loving Redux and the way it s set up. Good luck!

I'm looking into other redux boilerplates that are good.

[2015-10-08 01:31] psimyn commented on #79
odd, I'm able to use them. Where are you trying to add it?

Are you using latest master? Can you upload a more complete snippet?

[2015-10-12 06:02] kkotwal94 opened #81 "Trouble grabbing req.user after logging in"
I log in with the user at the login, and the user object gets saved for req.user (or passports user) however after I go to a different route/state it doesnt hold the user object there anymore. To demonstrate I just try to console.log(req.user) and it returns undefined, for a POST method in my controller. Example:

<strong>My routes:</strong>

[code]

My users controller:

[code]

@joshhornby any s

[2015-10-14 16:07] #79 closed

[2015-10-14 16:12] hsin421 commented on #80
@choonkending I have integrated Redux into the stack.
Would you like it on a separate branch?

[2015-10-15 06:10] choonkending opened #82 "Update to React 0.14!"

[2015-10-15 06:42] choonkending commented on #80
Yes please!!!

On Thu, 15 Oct 2015 03:12 Hsin Hsiao <notifications@github.com> wrote:

[2015-10-16 00:46] choonkending commented on #80
I might have some thoughts on how Redux is added to the repo. Hopefully will get some time off to start crackin on this!

[2015-10-26 18:51] bishopZ commented on #82
I made a boilerplate based from yours and did upgrade it to React 0.14. There were only a few changes which were covered pretty well in the upgrade guide. If my repo helps as a reference for this or anything else: https://github.com/bishopZ/kabuki-motion

[2015-10-27 15:50] ppiekarczyk opened #85 "Nginx Issue"
Anyone having issues setting a site up with nginx?

What happens is if you visit the site via port `127.0.0.1:3000` the site works as expected. As soon as you try to visit `www.website.com` however, the site spits out plain text HTML instead of rendering out the webpage.

[code]

[2015-10-28 15:44] choonkending commented on #82
@bishopZ Thanks for that. I've made the changes in a https://github.com/choonkending/react-webpack-node/pull/84, just have not sorted out the extra warnings in console with AltContainer yet :D

[2015-10-28 16:20] bishopZ commented on #82
Yeah, I ended up removing AltContainer in the short term. I was able to get
everything working by just importing the Store where necessary, fwiw.

On Wed, Oct 28, 2015 at 10:44 AM, Ken Ding <notifications@github.com> wrote:

--
________________________________________________________________
================================================================
=-----------------------------------------

[2015-10-28 20:39] kkotwal94 commented on #85
http://stackoverflow.com/questions/5009324/node-js-nginx-what-now

Check out the answer

[2015-10-28 20:44] ppiekarczyk commented on #85
Hey,

I ended up passing the `Content-type text/html` and that has solved issues.

You can reference the configuration above, I've moved the proxy stuff into it's own file.

[code]

[2015-10-29 00:25] kkotwal94 commented on #85
Sweet, thats good to know.

[2015-10-31 02:24] choonkending commented on #85
@kkotwal94 Thanks for answering! :)

[2015-10-31 02:24] #85 closed

[2015-10-31 02:28] choonkending commented on #80
@hsin421 Any update on this? I will have time to work on this in a week's time. :) Redux redux redux!!

[2015-10-31 06:13] paulwehner opened #86 "/app/server.jsx question"
How come most of the time when I print out the 'html' variable from 'base.html' within the server.js export function it is missing the closing head tag and class=app doesn't have quotes around app? I get this:

    <!DOCTYPE html><html><head><title>TITLE</title>META LINK<div class=app>CONTENT</div><script>(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=

[2015-10-31 22:05] kkotwal94 commented on #86
I think i had to add in the closing head tag too myself. Which should then workout fine, and as long as app works I think you are fine, I don't have quotes around my class app either, and my app works fine.

[2015-11-03 10:41] paulwehner opened #87 "Recommended approach for 'window' component dependency?"
I'm currently using 'slick-carousel' which references 'window'. I also do some references to window in some of my own react components to help with sizing of the component.

Do you have a recommended strategy for server side rendering, when I incorporate components into the project that reference 'window'?

[2015-11-03 22:58] choonkending commented on #87
@paulwehner Thanks for asking. :)

A simple workaround for this is to check whether `typeof window !== 'undefined` when using window.

[2015-11-03 23:00] choonkending commented on #80
Changing to redux will be a pretty sweet move, but I'm just wondering if anyone disagrees with this. I'd prefer to merge this into the main branch once we finish.

[2015-11-03 23:43] kkotwal94 commented on #80
I'm down with that and react 14!

Altjs was pretty awesome was a great and easy implementation to learn flux from and how its useful.

[2015-11-04 08:15] choonkending commented on #81
@kkotwal94 Interesting, I'm having the same issue. I am certain this issue did not occur in the past. It might be a regression in some of the libraries we use. I'll have a play around, but let me know if you have found the fix for this.

[2015-11-04 12:09] paulwehner opened #88 "React checksum is invalid. Any suggestions?"
I'm getting the following warning telling me that the checksum isn't working. This is augmenting the react-webpack-node starter project by integrating a number of my custom components. Any suggestions on how to debug or fix the issue?

Here is a stackoverflow with the same question: http://stackoverflow.com/questions/33521047/warning-react-attempted-to-reuse-markup-in-a-container-but-the-checksum-

[2015-11-04 20:26] kkotwal94 commented on #88
I only get that error if I start my server, and my front end is recompiling, i just restart my server. It should still work anyways does it?

[2015-11-04 20:35] kkotwal94 commented on #81
I've been just passing req.user here :

[code]

What i've noticed is on page refresh, it can pull the req.user so when i log in, i don't use react-router instead I use res.redirect('/dashboard') or something in express, maybe even just a regular href.

After that i just store the user info onto the user immutable object we have in the store, and whatever changes we make from there update that immu

[2015-11-04 22:31] choonkending commented on #66
Already on rc 1.

[2015-11-04 22:31] #66 closed

[2015-11-05 10:00] joshhornby commented on #81
This is related to https://github.com/choonkending/react-webpack-node/issues/57 & https://github.com/choonkending/react-webpack-node/issues/58.

I think my hacky fix was something like `window.reload` after a user has logged in, in the callback.

[2015-11-05 15:16] hsin421 commented on #80
I apologize for getting back to this late. I have the basics done. I didn't push because in the rush I broke a lot of ESlint rules lol. And I agree with @choonkending that some others may prefer to stay with Alt.
So I will clean up the code and push then.

[2015-11-07 03:07] paulwehner commented on #88
The site still works, but I assume it means I'm not getting the benefit of server side rendering.

[2015-11-08 14:39] hsin421 opened #90 "React Hot Loader => React Transform"
Hot loader has been deprecated.

What's the plan on transitioning to React Transform?

[2015-11-08 21:56] choonkending commented on #90
Plan was to transition to transform together with redux/after. :)

On Mon, 9 Nov 2015 01:39 Hsin Hsiao <notifications@github.com> wrote:

[2015-11-09 05:21] choonkending commented on #82
Ready to merge

[2015-11-09 05:28] choonkending commented on #81
@kkotwal94 The issue was related to express.

If you run `npm run dev` instead of `npm start`, what happens is it runs

[code]

I knew this issue was familiar lol. It didn't remember user if you ran `npm start` on a non-https session as shown above.

[2015-11-09 10:38] kkotwal94 commented on #81
really, I had changed i remembered trying to play with the cookie as well, ill have to try it

[2015-11-09 21:20] #82 closed

[2015-11-13 02:54] choonkending commented on #81
Still an issue? Will close otherwise :)

[2015-11-13 02:54] #81 closed

[2015-11-13 08:15] paulwehner commented on #88
Any suggestions on how to debug this issue?

[2015-11-13 10:01] choonkending commented on #88
@paulwehner I believe it's because somehow on your server it strips off any webkit prefixes, for example webkit-transform. Try removing to see if it fixes it (and if it does, you can start from there). :)

[2015-11-15 07:22] choonkending opened #92 "Redux refactor + middleware + folder structure"
Things to do asap:
- [x] Fix folder structure
- [x] Unneeded references to alt
- [x] Unneeded files
- [x] Fix server side rendering (refreshing on authenticated routes). It currently is very messy and can be made a lot simpler IMO. Details on possible implementation [here](https://github.com/rackt/redux-router/pull/45). Or perhaps use redux-simple-router.
![screenshot 2015-11-22 21 47 58](https://

[2015-11-17 18:03] paulwehner commented on #88
@choonkending So I think you are right, and it seems to have to do with handling inline css using Radium (https://github.com/FormidableLabs/radium)... for some reason it is adding those webkit prefixes on the client but not the server.

[2015-11-19 01:29] ojame commented on #76
@kkotwal94 did you end up finding a solution to this? I'm running into the same issue.

[2015-11-19 03:08] kkotwal94 commented on #76
Not at all actually, I asked on chat too. I tried searching it up and figuring out myself and this is what i found https://github.com/rackt/react-router/issues/2139

@choonkending any insight?

[2015-11-19 03:22] ojame commented on #76
Ah. Thanks for replying so quick. I've tried updating the router from rc to 1.0.0, but no luck there either. I'll keep digging.

[2015-11-19 03:38] kkotwal94 commented on #76
Ill try as well right now.

[2015-11-19 05:36] choonkending commented on #76
Might be the webpack config for dev being outdated. I will be looking to
using react-transform-hmr in the next few weeks.

On Thu, 19 Nov 2015 14:38 Karan Kotwal <notifications@github.com> wrote:

[2015-11-19 15:15] sunkant opened #94 "When will you implement the Token Based Authentication?"
This project is very good, but when will you implement the Token Based Authentication? : )

[2015-11-19 20:49] choonkending commented on #94
@Luke currently looking to tidying up and using Redux better and then
writing tests. When would you like this out?

If you have a solution for this already, happy to help out or check a PR :)

On Fri, 20 Nov 2015 02:15 Luke <notifications@github.com> wrote:

[2015-11-19 21:04] #80 closed

[2015-11-20 13:19] lukeqi commented on #94
Hi @choonkending Actually I am looking for a way to use Token based auth with Redux, but I encounter some problem and I am still working on it.

This project: https://github.com/nicolashery/example-isomorphic-one
Uses SSR, Token based Auth with Fluxible front framework, and I think this project shows a possible way to solve it.

[2015-11-20 13:26] lukeqi commented on #94
It load token from request cookie first every time when a page refresh request arrive on the server.

However, when I look at this project (which is very hot on github):
https://github.com/erikras/react-redux-universal-hot-example

It uses session based auth (as your project), and loads api from another server when doing SSR. This adds complexity when trying to do SSR if using token based auth.

[2015-11-20 13:33] lukeqi commented on #94
Like if we want to load api from another server (or different port in the same host, like localhost):

The "another" server need to obtain the Token from the cookie of the api Post,

So, when our SSR server issues the api Post, it must have something like a HTTP Interceptor, which adds the Token from the original request from the user.

Angular has such a thing like "HTTP Interceptor", but I do no

[2015-11-22 23:43] Pasta opened #95 "Error: Cannot find module 'reducers'"
Hello,

I did:

git clone https://github.com/choonkending/react-webpack-node.git
npm install
npm run devHotLoader

Error is:

Error: Cannot find module 'reducers'

My node v = node v5.0.0
My npm v =  npm  v3.3.9

Did I forget something?

[2015-11-23 09:14] choonkending commented on #95
@Pasta Thanks for raising this!

Just tested and verified that this issue does exist. Sorry about this, I'm currently looking into refactoring the codebase to be better, and part of that is removing hotloader and using react-transform-hmr instead. In the meantime, use  `npm run watch` to compile and `npm run dev` to start server.

If you like, I'd be happy to have a PR for using [react-transform-h

[2015-11-24 10:58] paulwehner commented on #88
Here is a working solution for those using Radium. Needed to use a Wrapper component.

Wrapper.jsx:

    import React from 'react';
    import Radium from 'radium';

    @Radium
    export default class Wrapper extends React.Component {

      constructor(props) {
        super(props);
      }

      render() {
        return (
          <div>
            {this.props.children}
          </div>

[2015-11-24 10:58] #88 closed

[2015-12-04 23:26] choonkending commented on #90
https://github.com/halt-hammerzeit/webpack-isomorphic-tools

[2015-12-05 05:36] choonkending commented on #94
@lukeqi Sorry I took a while to get back on this. Yes, this looks interesting. I'll have to read up on token based authentication, but I think it's a good approach to the one we're currently having. :)

[2015-12-05 05:44] choonkending commented on #73
@reggi if you run `npm run dev` now, it should work. Pull the latest master. :)

[2015-12-05 05:44] #74 closed

[2015-12-05 05:45] choonkending commented on #95
@Pasta Shouldn't have this issue anymore. Closing this issue, but feel free to comment.

[2015-12-05 05:45] #95 closed

[2015-12-06 03:01] choonkending commented on #90
@hsin421 Give it a go. :)

[2015-12-06 03:01] #90 closed

[2015-12-06 03:04] choonkending commented on #86
@paulwehner I believe it was an issue with not updating react-helmet on my mission.

The latest version of master now uses redux, and no longer keeps base.html. Instead we just render a simple template in server.jsx [here](https://github.com/choonkending/react-webpack-node/blob/master/app/server.jsx#L32).

I'm closing this issue as it's no longer an issue in the latest master branch. Feel free to

[2015-12-06 03:04] #86 closed

[2015-12-06 03:08] choonkending commented on #77
@reactor81 You've probably already figured the minification part. But just for reference, you could uglify it like the webpack [file](https://github.com/choonkending/react-webpack-node/blob/master/webpack/webpack.config.prod.js#L126) on master branch right now.

If you wish to optimise further, you can have a look at:
- what extra options you can pass into `webpack.optimize.UglifyJsPlugin`
- [Comm

[2015-12-06 03:08] #77 closed

[2015-12-06 03:09] choonkending commented on #76
@kkotwal94 HMR is in! :) Closing this issue, but feel free to open a new issue if you find any bugs/improvements that can be made.

[2015-12-06 03:09] #76 closed

[2015-12-06 03:11] choonkending commented on #64
@rhys-edwards @jure Sorry it took so long to respond. It shouldn't be an issue with the latest master branch now.

You should now be able to run `npm run build` once. And from there run `npm run dev` which will start the server + use react-transform-hmr for hot reloading.

Closing this issue but feel free to open a new issue if you find any bugs. Thanks guys!

[2015-12-06 03:11] #64 closed

[2015-12-06 03:12] choonkending commented on #55
Closing this as latest branch shouldn't have this problem. Feel free to create a new issue if you have any problems!

[2015-12-06 03:12] #55 closed

[2015-12-06 03:12] #73 closed

[2015-12-06 03:15] choonkending commented on #87
Closing this issue but feel free to keep this thread running!

[2015-12-06 03:15] #87 closed

[2015-12-06 03:16] choonkending commented on #26
I'm using node 5 currently. Just haven't made the switch for the server side code. Should really look into this.

[2015-12-06 13:39] hsin421 commented on #90
Wow major changes.
Are you saying we should incorporate 'webpack-isomorphic-tools' ?
I will definitely give it a try, after I digest the recent changes!

[2015-12-06 17:32] nicholasalanbrown opened #99 "App Inexplicably Hangs"
This seems like a great boilerplate and generally things are going according to plan, but twice now after running ```npm run build && npm run dev``` and working with the app for a while, it will suddenly die inexplicably The terminal output will show the server is still running, but in my browser I just get ```Waiting for localhost...``` no matter what I do. The only thing that seems to fix it is

[2015-12-06 21:40] choonkending commented on #99
@nicholasalanbrown Thanks for raising this issue. :)

So far this has not happened to me yet, but I'd like to replicate this. My guess is that it could either be  uglifying the js or node sass consuming a lot of memory.

I recently had some problems with compiling because I did not update my node sass and sass loader.

It's hard to isolate the issue here as there's no debugging information from th

[2015-12-07 02:49] choonkending commented on #90
@hsin421 Yep I think that's a good next step to take. It might provide a better alternative to using webpack on the server than the approach we are currently taking.

[2015-12-09 06:32] choonkending commented on #92
Problem with server-side redirects explained here http://stackoverflow.com/a/33338399

[2015-12-14 18:42] aksaha2311 opened #101 "Separate devDependencies & dependencies"
Now module like "babel-loader", includes under dependencies, which should be under devDependencies.

[2015-12-14 20:32] choonkending commented on #101
@aksaha2311 Good point. The reason why I moved it to dependencies was because it gave me trouble with Heroku deployment. Babel-loader is still used as part of a post deployment task in order to build the js.

We can have a look at seeing how others manage their Heroku deployment and see if there s a nice way around this.

[2015-12-20 12:02] abritez commented on #63
Having similar issue when deploying to Heroku. Any chance you remember what the issue was

[2015-12-20 13:12] choonkending opened #103 "Babel 6"
Babel  5 -> 6

[2015-12-26 19:23] kaizvn commented on #103
I made my fork run on babel 6 already. I hope it helps people who want to run this awesome project in latest babel.

For someone get error with .babelrc `extra` option, I found a way to fix it:
[code]

[2015-12-26 22:36] choonkending commented on #103
@kaizvn Of course man! Definitely willing to see your PR. Thanks for contributing. :) Babel 6 has been sitting in my backlog for a while now, so it would be great if you could help out :)

[2015-12-27 05:21] kaizvn commented on #103
@choonkending I've made a pull request already, please have a look on it  :smile:

[2015-12-27 17:25] kaizvn commented on #103
@choonkending after read some articles, I found out that ES7 doesn't support `decorator` yet, so that if people's going to use any `@decoratorName` in this project, it will throw  `Unexpected token` error.
So, my PR just fit for any projects that doesn't use `decorator`, so sad.

[2015-12-29 07:37] #16 closed

[2015-12-29 07:40] choonkending opened #107 "Better auth flow for react-router"
# EDITED

## Goal of this issue fix
We want a good example of an authentication flow for universal redux and react-router. This will include:
- [x] Redirecting users to the Login page when they access a route/page which requires authentication.
    - [x] Server-side authentication redirects when the user accesses a route directly, e.g. `/dashboard`
    - [x] Client-side redirects

# Scenarios

##

[2015-12-29 07:41] choonkending commented on #58
Closing as issue will be fixed by this issue https://github.com/choonkending/react-webpack-node/issues/107

[2015-12-29 07:42] #58 closed

[2015-12-29 19:31] bokzor opened #109 "css is not loading id devHotLoader mode"
Hi, It seems that the css is not loaded in 'devHot'. I've just made few change but I have no idea how to debug this....

[2015-12-29 20:51] choonkending commented on #109
@bokzor Thanks for raising this issue.

Which branch are you in now? Can you pull the latest master? Devhot is no longer being used ;)

[2015-12-29 20:57] bokzor commented on #109
The branch flux/alt

[2015-12-29 23:43] choonkending commented on #109
@bokzor I might have to look at that later. `devHotLoader` wasn't working as expected :( I will see if there is fix for this.

[2015-12-29 23:43] choonkending commented on #109
@bokzor In the meantime, if you find a fix for this, let me know :) Currently focusing efforts on making the master branch with redux better.

[2015-12-30 11:34] choonkending commented on #103
@kaizvn I'm having a look at your PR right now.

Babel transforms the features we want from ES6 or ES7 into ES5 (what is supported by most modern browsers). If you try using it [here](https://babeljs.io/repl/), you'll see that your ES6 syntax gets transformed into syntax the browser understands.

Presets to my understanding are a collection of the plugins we want to use. For example, for ES2015/ES

[2015-12-30 23:28] choonkending opened #110 "README in different languages?"
Would be interesting to write it in 简体中文 or other languages.

Not sure if valuable to non-native English speakers. Just a thought.

[2015-12-31 13:41] danielstorch opened #111 "Load data from LocalStorage"
Hey,

sorry if there is already an answer or solution for this. Im not very experienced with Web development.

Where is the best place to load data from LocalStorage (if some exist) on client-side and dispatch them to the Redux storage?

My first guess would be in the `client.jsx` file. But it is only a render function?

Thanks for any help!

[2015-12-31 23:19] psimyn commented on #111
You could initialise in client.jsx, that is where the initialState gets loaded. For example:

[code]

this would use the `initialState` value from localStorage if available, otherwise get the data from window.

If you wanted it in a specific component, I'd guess you could dispatch an action in `componentDidMount` ([Link](https://facebook.github.io/react/docs/component-specs.html#mounting-component

[2016-01-01 00:56] dcsan opened #112 "docs on the data model"
I'm new to redux, so I'll go and readup on that.. but it would be great to have a few steps on how to add another model.

Some of this code seems to be a few layers abstracted, making it quite opaque to grok for the newbies like me who are looking for this type of starter kit...
eg:

[code]

so you are creating abstract components and passing in the save/handler methods?

If i wanted to just creat

[2016-01-01 01:01] dcsan commented on #112
probably something to do with this... ?

[code]

[2016-01-01 01:01] dcsan opened #113 "markup generated on the server was not what the client was expecting"
I'm getting this warning on reloading the app:

 (client) 6xne2o.0"><a class="" href="/" data-reac
 (server) 6xne2o.0"><a class="navigation__item__27

[2016-01-01 01:15] choonkending commented on #113
@dcsan Thanks for raising this as an issue. Were you running this on `npm run dev`? What happens here is when you make changes, `react-transform-hmr` reloads it and updates the markup on the browser ,but the server side markup was not changed from the initial state.

This will not be an issue in production because you will be running `npm run build && npm start` which will compile both the server

[2016-01-01 01:27] dcsan commented on #113
yes, this is in dev mode.
maybe it happens when i have a bug in my code? At that point I'm seeing stale pages (served up from public I guess). So I have to stop the server and npm clean, and install everything again? Or just delete public? If that's the case then the server rendering is really not something I want during development.

[2016-01-01 01:35] choonkending commented on #112
@dcsan Thanks very much for raising this! I'll add more docs for sure.

Q1

I use redux with `react-redux` which provides a [connect](https://github.com/rackt/react-redux/blob/master/docs/api.md#connectmapstatetoprops-mapdispatchtoprops-mergeprops-options) function to use with React components.

Q2

Nope. If you're using `react-redux`'s `connect` method, you can use `dispatch` on any level on comp

[2016-01-01 02:27] choonkending opened #114 "react-router 2.0"
https://github.com/rackt/react-router/blob/master/upgrade-guides/v2.0.0.md

[2016-01-01 03:37] psimyn commented on #112
@dcsan, `connect` is what will add the dispatch method to your props. But the error you are getting is due to `this` being undefined in your handlers.

Can either do this:

[code]

or this:

[code]

[2016-01-02 16:51] kaizvn commented on #114
@choonkending  just note about `history`, before it was included in NodeJS platform but now it separated already. So remember `npm install --save history` to avoid `undefined error` ( I've experienced with this :joy: ).

[2016-01-03 17:17] danielstorch commented on #111
Perfekt!
Thanks for the Explanation

[2016-01-04 14:35] 1001b commented on #110
Great work in documenting the code and README...it's probably the best in dozen other react-* starter/boiler plate repos...I'm a bilingual...if a visitor manages to find this repo, I don't think he/she will have trouble understanding the commenting or docs...maybe only translating the README is good enough...

[2016-01-05 00:14] choonkending commented on #114
@kaizvn Thanks a lot! Will do :)

[2016-01-05 21:53] choonkending commented on #114
https://github.com/rackt/react-router/releases still using as release candidates. Will upgrade once it's out of rc (which I expect will be quite soon) :)

[2016-01-05 21:59] choonkending commented on #113
@dcsan Yep, if you are constantly making changes to your components and styling, I personally prefer not having to reload the page every time. It's an existing problem with devHotLoader on the flux/alt branch. :(

If you wanted to test server-side rendering on that branch, you'd have to run `npm run watch` and `npm run dev`, and refresh. Not an ideal flow. Out of curiosity, are you `flux/alt` inst

[2016-01-05 21:59] choonkending commented on #111
@psimyn Awesome!

[2016-01-05 22:00] choonkending commented on #111
Closing issue but happy to keep the discussion going!

[2016-01-05 22:00] #111 closed

[2016-01-07 03:06] geraldyeo opened #116 "devServer"
Not an issue, but I would like to find out in this [code block from server/config/express](https://github.com/choonkending/react-webpack-node/blob/master/server/config/express.js#L91-L105), how does `node_env` get set to `devhotloader` (I don't see it in npm scripts, or anywhere) and where does the file `dev-server` (`require('../dev-server')`) come from?

[2016-01-07 03:09] choonkending commented on #116
@geraldyeo Good question! Thanks for asking.

I believe this was a chunk of code that was not removed after I moved to redux on the master branch.

I'll have a look later to verify this and remove it if necessary. :) :)

[2016-01-07 03:16] geraldyeo commented on #116
I see. I was using your repo as reference for creating my own boilerplate. :) But I was getting some issues understanding a few things.

So this [line in server/config/routes](https://github.com/choonkending/react-webpack-node/blob/master/server/config/routes.js#L10) relies on the web proxy (`http-proxy`)? I know it references `app/server.jsx`, but I'm not sure if it gets it from webpack's public

[2016-01-07 04:11] choonkending commented on #116
@geraldyeo

I don't believe so. It currently only requires the webpack-compiled file in the public path on the server (not an ideal solution, I am looking into other ways of doing this). Good reminder to remove `http-proxy` as well. Sorry for the confusion. I'll make a PR to remove this.

[2016-01-07 04:25] geraldyeo commented on #116
@choonkending Ok cool, thanks for clearing that up.

[2016-01-07 04:25] #116 closed

[2016-01-07 06:22] choonkending commented on #107
https://github.com/rackt/react-router/issues/2387

[2016-01-07 07:21] choonkending commented on #107
http://stackoverflow.com/questions/33358249/server-side-auth-flow-with-react-router?rq=1

[2016-01-07 10:50] choonkending commented on #116
Removed in https://github.com/choonkending/react-webpack-node/commit/5ff6ab01d542c874f9977ae8c038f3483ee6c7c7

[2016-01-07 11:08] geraldyeo commented on #116
@choonkending

Sorry, had to ask... since node is throwing error, because it cannot find module "../../public/assets/app.server"

If you can point me to where I can find out more, that'll be nice.
[repo](https://github.com/geraldyeo/universal-react-frontend-boilerplate)

[2016-01-07 22:06] choonkending opened #117 "Login does not save user to session"
On refresh, it does not deserialize the user. Which is killing me.

Presumably, one of the many dependencies has had a version bump, and broke the world.

[2016-01-08 04:37] choonkending commented on #117
Oh god.
https://github.com/jaredhanson/passport/issues/222

[2016-01-08 23:52] shawnxusy commented on #117
I also bumped into this.. tried to follow the resolutions but not working still.. any ideas?

[2016-01-09 09:19] choonkending commented on #117
@shawnxusy The fix just pushed fixed it makes it work on http connections, but I'm still looking for a fix for trusting proxies over a HTTPS connection. Something related to config settings. :D

[2016-01-09 09:30] choonkending commented on #117
https://github.com/choonkending/react-webpack-node/commit/dfdc8c514f7906c3bfff45ebc55609b417b560c3

[2016-01-09 10:51] choonkending opened #119 "Add helmetJS"
https://github.com/helmetjs/helmet

Better security.
Also follow the steps here. We want good practices here.

https://strongloop.com/strongblog/best-practices-for-express-in-production-part-one-security/

[2016-01-09 10:59] choonkending commented on #117
Closing as fixed :D. @shawnxusy Feel free to ask any questions if u still encounter this issue.

[2016-01-09 10:59] #117 closed

[2016-01-11 01:42] shawnxusy commented on #117
Thanks @choonkending, works great :D

[2016-01-11 10:41] choonkending commented on #44
@iiegor This works great! Really good work dude! Thanks for all the hard work!

I think this PR deserves it's own repository! I'm happy for you to create and publish (and I will link it from the README). The reason for this is I think it would be easier (and less confusing) to have the generator code separate + easier to maintain.

Users who come to this repo will then have the chance to either:
1

[2016-01-11 18:34] hoodsy commented on #107
@choonkending have you done any work on this? I'm looking to implement this in a personal project, and would love to help with / take a look at your implementation.

[2016-01-11 18:49] iiegor commented on #44
I totally agree with you @choonkending. All done, check [iiegor/generator-react-webpack-node](https://github.com/iiegor/generator-react-webpack-node) :+1:

[2016-01-11 21:59] choonkending commented on #107
@hoodsy I've been looking at different solutions.

The main problem is dealing with server-side redirects (when a user is not authenticated) in a nice and understandable way.

Really happy to get help/suggestions with tightening up the auth flow! Thanks a lot! So far https://gist.github.com/iNikNik/1eabfc6bcc132384368c looks to be a good one.

I feel like I'm missing something simple/there could b

[2016-01-11 22:15] choonkending commented on #44
Updated README https://github.com/choonkending/react-webpack-node/commit/98c2865d8606fce8ca93f7e3a0808ed880718284

[2016-01-11 22:15] choonkending commented on #44
Closing issue. @iiegor Thank you so much for your hard work!

[2016-01-11 22:15] #44 closed

[2016-01-12 21:48] nodegin opened #120 "bug in demo"
before logged in, click to dashboard will produce

`Uncaught Invariant Violation: Stateless function components cannot have refs.`

this crash the login function

[2016-01-12 22:05] choonkending commented on #120
Thanks for that. I actually have a fix for that in my local branch. Update
react redux. Will push it up when I have the chance!

On Wed, 13 Jan 2016 08:48 ‏ <notifications@github.com> wrote:

[2016-01-13 10:43] nodegin commented on #120
That's good

[2016-01-13 14:32] nodegin opened #121 "Add support for SQL databases"
Will you build a branch for mysql / mariadb databases?
Although there's another reap repository, but since most logic should same
and the reap seems not actively maintained
How about make a branch to adding support for the MySQL / MariaDB databases
Thanks

[2016-01-13 15:19] nodegin opened #122 "Invalid checksum after changing components"
To reproduce the issue:

1. Run the project

2. Edit EntryBox.jsx

3. change `placeholder="What's yer fav idea?"` to `placeholder="What's ur idea?"`

4. Wait for hot reload, after component updated refresh the page

Seems the `public/assets/app.server.js` not updating

[2016-01-14 02:08] hoodsy commented on #107
@choonkending I've been doing a bit of research as well, and liked the ```onEnter``` approach shown in that gist best.

What do you think about only redirecting with redux-simple-router, for consistency sake? Using  ```pushPath``` all app routing could happen from the front end.

I was also thinking that  ```onEnter``` would fire off an action to test  ```user.token```. The token, received from th

[2016-01-15 07:15] choonkending commented on #107
@hoodsy Sorry for the late reply.

Sounds like a great idea! I did not consider doing it that way (server checking for token and redirecting). That greatly simplifies things imo.

I'm not sure if pushPath works on the server? I tried it a while ago and had trouble with it (maybe I just did it wrong). I'll have a look at it tonight.

This is exciting! I really REALLY wanna get this fixed.

[2016-01-15 17:46] hoodsy commented on #107
@choonkending I'll work on that example.

As I have it now, a server redirect will send them to ```/login``` if any request isn't authenticated (similar to what you have).

[code]

So on the initial load, they get to the login page if not authenticated. From login, I'm not sure how to get around using ```pushPath('/')``` from my LOGIN_USER_SUCCESS action to redirect to the main view.

The redux mi

[2016-01-15 23:50] shawnxusy opened #123 "Vendor files processing for webpack"
I'm quite new to webpack building process, let's say under /app we have a /app/vendor directory with a bunch of .js and .scss.

What would be an ideal additional steps to run in webpack configs? (Looks like it's rather complex even to add Bootstrap to project).

Thanks :)

[2016-01-16 01:55] psimyn commented on #123
depends on how you want to reference them from other places.

since 'app' is included in resolve.modulesDirectories in [webpack.config](https://github.com/choonkending/react-webpack-node/blob/master/webpack/webpack.config.dev.js#L70) you can require vendor modules like this:

[code]

For shorter includes, you can use Webpack's [Resolve Alias](https://webpack.github.io/docs/configuration.html#resol

[2016-01-16 07:05] shawnxusy commented on #123
@psimyn thanks for answering!

The universal rendering is quite new to me - for instance I need to include amcharts library, with amcharts.js, a few stylesheets, and icons. Following your advice, should I import /server/vendor/amcharts/amcharts.js in index.js? Then how about the stylesheets and icons in /server/vendor/amcharts?

Thanks a lot!

[2016-01-16 09:05] psimyn commented on #123
Stylesheets and icons you can import like node modules:

[code]

However, [amcharts.js](https://github.com/amcharts/amcharts3/blob/master/amcharts/amcharts.js) puts Armcharts object on window (so it wouldn't work for universal rendering). But assuming it is included you should be able to access amcharts things from your react components on client-side.

You can either require it in Components/Page

[2016-01-16 23:50] choonkending commented on #123
@psimyn I think your idea is pretty solid. I would require it in App.js and use the Amcharts window object from there.

Alternatively, one other method I could think of is to create a Component, e.g. `AmchartWrapper` that:
1. Requires the amchart library
2. Requires all the icons
3. Requires the stylesheets

And then require `AmchartWrapper` whenever you need it.

[2016-01-16 23:51] choonkending commented on #121
@nodegin Good idea! If you wanted, you could also submit a PR and I'd be happy to review it as well!

[2016-01-16 23:53] choonkending opened #124 "Redux saga?"
https://github.com/yelouafi/redux-saga

Redux-saga looks like a nice way of handling side effects. So far I do not think I've met any big challenges with using redux-thunk. But if it is a worthy candidate, and if anyone has any thoughts, please let me know.

[2016-01-16 23:59] choonkending commented on #107
@hoodsy Thanks for explaining this!

Could you dispatch an pushPath, similar to
[code]

It's a bit tricky isn't it? I'll have a long think about what the right way to do it is today. (But I'm also glad you're helping out, this one has been killing me).

[2016-01-17 00:06] hoodsy commented on #107
@choonkending look forward to hearing your thoughts! You can check out my
approach at:
https://github.com/hoodsy/anchor

On Saturday, January 16, 2016, Ken Ding <notifications@github.com> wrote:

[2016-01-17 00:22] choonkending commented on #107
@hoodsy For your approach, do you plan on restricting all access to your routes?

[code]

[2016-01-17 00:45] hoodsy commented on #107
@choonkending
To me, the route restriction was somewhat counter intuitive. I am
restricted to /login, and get redirected to it, until logging in or
registering.

From the routes it seems as though /login would be restricted as well, but
it didn't seem to be the case when I was testing it. I am thinking this is
due to react router.

On Saturday, January 16, 2016, Ken Ding <notifications@github.com>

[2016-01-17 01:12] shawnxusy commented on #123
@choonkending @psimyn  Thanks a lot, I am experimenting with AmchartWrapper approach, thinking it will work fine. Great work and appreciate your time guys!

[2016-01-17 01:12] #123 closed

[2016-01-18 16:46] joshhornby commented on #124
I really like the look of https://github.com/redux-effects/redux-effects

Seems a little cleaner than redux-saga.

[2016-01-20 17:22] choonkending commented on #107
@hoodsy I have a semi-working solution now. Check the PR.

The solution I did was to use react-router's onEnter method for components. I supplied a requireAuth function [here](https://github.com/choonkending/react-webpack-node/pull/125/files#diff-c1858c355a655a4c2bbc1b0df3156942R23). It redirects successfully on unauthenticated requests.

Issue now is that `fetch` from the server side always retur

[2016-01-22 11:23] #107 closed

[2016-01-22 11:24] choonkending commented on #107
Closing as https://github.com/choonkending/react-webpack-node/pull/125 solved it.

[2016-01-22 11:24] #114 closed

[2016-01-22 11:24] #57 closed

[2016-01-22 11:25] choonkending commented on #57
@joshhornby Closing as it's been quite a big change since then. Let me know what you think of the current redux :)

[2016-01-22 11:25] #17 closed

[2016-01-22 11:26] choonkending commented on #120
@nodegin Should be fixed. Please reopen if still an issue :)

[2016-01-22 11:26] #120 closed

[2016-01-22 11:27] choonkending commented on #42
@psimyn Don't think it's a huge issue, I'm quite happy actually keeping them separate, as it makes it easier to understand. Please reopen if you disagree :D

[2016-01-22 11:27] #42 closed

[2016-01-22 11:27] #99 closed

[2016-01-22 11:28] choonkending commented on #31
Please reopen if still encountering this with the current version. This repo has undergone some serious changes since then :D

[2016-01-22 11:28] #31 closed

[2016-01-22 11:28] #46 closed

[2016-01-22 11:29] choonkending commented on #48
@LarryEitel Sorry it took months (literally) to get back on this. Let me know if you still need help with the current version of the repo. Closing for now. :)

[2016-01-22 11:29] #48 closed

[2016-01-22 11:30] #113 closed

[2016-01-22 11:33] choonkending commented on #122
@nodegin The idea is of hot reloading is so you won't reload the page. I do not think this is an issue. If you wanted to see how it works like in production (without hot-reloading), `npm run build` and `npm start`, and then refresh, you should not see that error message then.

Closing this issue, but feel free to keep this discussion running.

[2016-01-22 11:33] #122 closed

[2016-01-22 13:22] choonkending opened #126 "Use stateless functions for React ES6 when possible"
https://facebook.github.io/react/docs/reusable-components.html#stateless-functions

[2016-01-23 16:32] dbhandel opened #127 "Why aren't simple text changes not reflected in the browser?"
This may be my dumbest question ever. When I make simple text edits in your sample app JSX such as changing the words in "Vote for your top hack idea" in EntryBox.jsx, the rendering in the browser is unchanged from the original.

You have hot reload set and I should see all changes immediately.

[2016-01-23 17:23] dbhandel commented on #127
My apologies. I was using the wrong npm script to start the app.

[2016-01-23 17:23] #127 closed

[2016-01-26 09:52] tinhanchanachai opened #128 "Maximum call stack size exceeded"
When I try to 'npm install'

will show error all time
ERROR in ./client.jsx
    Module build failed: RangeError: Maximum call stack size exceeded

[2016-01-29 18:51] chrislewispac opened #129 "Renamed: Handle Login Flow Properly"
I deployed to heroku, then to my local machine, and am receiving the following error upon attempted login.

`_http_outgoing.js:335
    throw new Error('Can\'t set headers after they are sent.');
    ^

Error: Can't set headers after they are sent.
    at ServerResponse.OutgoingMessage.setHeader (_http_outgoing.js:335:11)
    at ServerResponse.header (/Users/chrislewis/Projects/aimpointv2/app/node_

[2016-02-02 07:01] choonkending commented on #129
@chrislewispac Sorry for the late reply. The reason you're getting this is because this boilerplate does not handle invalid logins (i.e. logins that are not saved into mongoDB).

Can you try pasting this into your console and let me know if this works?

[code]

Good issue though, we need to handle all the possible login states, and not just error out. It's pretty confusing for new users i imagine.

[2016-02-02 07:03] choonkending commented on #128
@tinhanchanachai Sorry for the late reply. I'm going to remove `node_modules` and rerun `npm install` now to reproduce this.

[2016-02-02 07:18] tinhanchanachai commented on #128
@choonkending  Thank you so much. But after I rerun 'npm install' Will find new error :
  modulesTypeError: Cannot read property 'visitClass' of undefined

For fixed this error change "babel-eslint" to version "^4.1.7" the last version did't work.

Thank.

[2016-02-02 07:18] #128 closed

[2016-02-02 09:00] choonkending commented on #128
@tinhanchanachai Thanks for that. Good work finding the root cause. Do you wish to create a pull request for this fix?

[2016-02-02 09:05] choonkending commented on #128
Will push a fix for this soon. Thanks for reporting this @tinhanchanachai !!

[2016-02-02 09:14] tinhanchanachai commented on #128
Already to create pull request.

[2016-02-02 09:26] choonkending opened #131 "react-router-redux to replace redux-simple-router"

[2016-02-02 10:46] choonkending commented on #131
Fixed in https://github.com/choonkending/react-webpack-node/commit/46a14ef4cea555f718bde3bab2d3c4c15616fcf8

[2016-02-02 10:46] #131 closed

[2016-02-03 00:15] chrislewispac commented on #129
@choonkending Yes, that creates a new user in the DB and resolves the error.

[2016-02-03 07:42] choonkending commented on #129
@chrislewispac It's good that you raised this issue. I think a proper boilerplate needs to have a proper login/register flow which handles all cases. I'll rename the title.

[2016-02-03 07:44] choonkending commented on #92
Closing issue. We can reopen if we ever find the need for normalizr :D

[2016-02-03 07:44] #92 closed

[2016-02-05 15:21] danielstorch opened #132 "Guide on how this project works in detail for beginners"
Hey,

so im trying to understand this project in detail and have some issues. After installing mongodb and cloning the project, i had to use `npm install` twice before the project was working. I'm still not sure what the issue was.

The problem i have now is that i don't understand the whole user identification. How do i add a user so i can Log in ?
Is there any documentation on how the authentica

[2016-02-05 23:49] choonkending commented on #132
@danielstorch Thanks for raising this issue.

Interesting, I don't think I've had to `npm install` twice in order for things to work. It's likely that your connection dropped out? Which version of `node` are you using? You can type `node -v` in your command line to check.

- How do i add a user so i can Log in ?
Currently there is a server endpoint that handles it without the front-end code being

[2016-02-06 10:05] danielstorch commented on #132
Thanks for the fast and detailed replay, this is an enormous help.

- `npm install` error

The connection drop out might be it. I had several ` Error: connect ECONNREFUSED`.

- secret.js

So if i don't use any external services, i don't have to put there anything?
What about the DB on Heroku? is there anything else than installing the mongoDB addon on Heroku i have to do?

When trying to Login wit

[2016-02-07 22:11] charlieclark commented on #129
I also was confused for a few minutes, before checking here. Would be great to get this into the flow / docs :+1:

[2016-02-08 07:35] choonkending commented on #132
It might be because you are not running `mongod`? If you clone this boilerplate as-is, you will need to set up mongodb in your environment. Read more [here](https://github.com/choonkending/react-webpack-node#setting-up-your-database). However, it is relatively easy to strip out the mongoDB dependency, give it a go, and if you have any problems give a shout here.

If you don't, as long as your serv

[2016-02-08 07:36] choonkending commented on #129
@charlieclark Agreed. I will look into getting this done this week if possible. I know it's been tripping people up, and would be not a pleasant experience for people looking to get into react and all.

[2016-02-08 13:36] charlieclark opened #133 "Have to rerun `npm run build` on server side code change"
Unless I'm missing something, I'm under the impression that `npm run build` needs to be run everytime there is a change in a server-side file (eg. server.jsx or routes.js) Would be great if to have a watch flag or something on this task, since it takes quite a while to run.

[2016-02-08 13:42] charlieclark opened #134 "Abstract `fetchTopics`"
Right now the example's server side async rendering is specific to getting the `topics`. It could be helpful to abstract this a little bit to accommodate for a more configurable way to define async calls that are page specific. I might have a stab at this - let me know if you'd be interested in a PR, or if you're keeping it intentionally simple.

[2016-02-08 14:06] danielstorch commented on #132
Perfect, everything running fine at the moment. I really appreciate your help.

Did you look into the stack trace i posted? When trying to Login with a use which does not exist, the server crashes.

[2016-02-08 20:55] choonkending commented on #134
Go for it! I did that as an MVP, but happy to make it more usable for
everyone. Thanks mate!

On Tue, 9 Feb 2016 00:43 Charlie Clark <notifications@github.com> wrote:

[2016-02-08 21:05] choonkending commented on #132
Yep I saw that. Part of what I'm planning to fix this week when I get a
breather hehe :)

On Tue, 9 Feb 2016 01:07 Daniel <notifications@github.com> wrote:

[2016-02-08 21:06] choonkending commented on #133
Good point! Thanks for raising this as an issue, it's been bugging me for a
while as well. Would you like to take a stab at it?

On Tue, 9 Feb 2016 00:37 Charlie Clark <notifications@github.com> wrote:

[2016-02-08 21:49] charlieclark commented on #133
Yeah I'll take a look! Awesome work with this repo btw.

[2016-02-08 22:44] danielstorch commented on #132
Ok thanks and sorry for bombing you with question, because here is the next one :P.

 Im trying to make a simple get request and can't get it to work. I postet the question on [stackoverflow](http://stackoverflow.com/questions/35280690/simple-get-request-with-node-js-and-express). Maybe you have the answer for it?

[2016-02-11 07:03] choonkending commented on #134
@charlieclark How are you going with this one?

I'm really interested in how you're doing this. One approach I've seen is, you define a static method across all route handlers that you then call to make a `async` call. It would be interesting to have a bit of visibility or keep the discussion going.

[2016-02-11 07:06] choonkending commented on #132
@danielstorch It seems someone has already answered your stackoverflow question. :smile:

Can you provide a bit more context (or a use case) so I can better understand what you're trying to solve?

[2016-02-11 07:16] choonkending commented on #129
Just spec-ing it out some of the requirements. It would be good to write some tests for this to increase the unit test coverage in this repo as well. Feel free to comment on the below if you have any thoughts

## Scenarios
### Login
- [ ] Given `a@email` does not exist in database,
When I login with `a@email.com`,
Then I will be notified with a message "Your email or password combination is not co

[2016-02-11 11:58] choonkending commented on #112
Scratch option one.

@psimyn As you mentioned to me today,

[2016-02-11 11:59] #126 closed

[2016-02-11 12:18] danielstorch commented on #132
I will try to explain. When a user manually logs in, i want to check for initial data for this user. But only ONCE.
The same should happen if the user leaves the website but was still logged in and returns (session). I want to check for initial data once.
Right now i slowed it by making an request in the `Login component` and  `navigation component`
checking for `if(authenticated)`.

[2016-02-11 14:12] charlieclark commented on #134
@choonkending

I haven't had much time to implement, but I've been doing research on how to do this in the best way possible.

This seems to be the most common implementation, which integrates nicely with the exiting redux flow:

- a static reference is defined on containers/components that need to fetch async data before a server-side render ( either a function returning an action or an array of

[2016-02-11 14:15] charlieclark commented on #129
To avoid confusion, I think that:

"Given a@email does not exist in database, When I login with a@email.com"

Should be notified with a message "There is no record of this email" (or similar)

[2016-02-11 14:39] charlieclark opened #136 "export constants from actions?"
More a suggestion than an issue -
It feels a bit more organized and DRY to export the actions constants from the action itself.
eg: https://github.com/caljrimmer/isomorphic-redux-app/blob/master/src/common/actions/reddit.js

[2016-02-11 20:55] choonkending commented on #136
@charlieclark I have been thinking about this myself. I think it's an excellent idea, because then the when we import it in reducers as well, it would actually give the user more context as to where the action came from.

[2016-02-11 20:59] choonkending commented on #134
@charlieclark Thanks! :v: Yes to all of the suggestions! Been doing some research myself.

I've seen this in production and it works pretty well. It's good that we're iterating on the current solution as I am not a fan of having just `fetchTopics`.

[2016-02-11 21:03] choonkending commented on #129
@charlieclark Good point! I was thinking from a security perspective people can then test to see if someone's email is in the database. Butttt....I agree that avoiding confusion in this instance is the better way to go :hamburger:

[2016-02-11 22:46] choonkending opened #137 "RoadMap: Better Boilerplate"
I think the vision of this repo is to have everything baked in for you to start a good node project from scratch.

So ideally, I'd like to have good performance optimisations so users can refer to this repo as a good starting point.

Couple of things I can think of:
## Performance
- [ ] font loading example from typekit
- [ ] offline service workers to cache resources? Inspired by [this](https://g

[2016-02-14 11:05] danielstorch commented on #132
Hey, i think i found out what causes the crash of the server when trying to login with a not valid use.
`res.status(200).send('OK');` gets send before  `if(err) return next(err);`. Which than causes the error `Error: Can't set headers after they are sent.`
[code]

This works for me without crash:

[code]

[2016-02-14 21:38] choonkending commented on #132
Hey thanks for that. I'll be getting onto this issue once I finish and bump
up the version for the previous PR (I think 138). Once that's done, this
will be a priority to fix + document. :)

On Sun, 14 Feb 2016 22:06 Daniel <notifications@github.com> wrote:

[2016-02-14 21:39] choonkending commented on #132
What a derp btw haha

On Mon, 15 Feb 2016 08:39 choon ken ding <aenkil@gmail.com> wrote:

[2016-02-16 01:33] choonkending commented on #129
In scope:
- [ ] Ensuring the API endpoints for login, logout and register are correct + RESTful.
- [ ] Replacing `isomorphic-fetch` with axios

[2016-02-16 01:50] choonkending opened #140 "Better unit tests"
This has been a particularly pain point for me.

`nock` has been working pretty well since we started with unit tests, however since introducing to `axios` to `actions/topics` (and eventually replacing isomorphic-fetch across the app with axios), I had to comment out the particular test in https://github.com/choonkending/react-webpack-node/commit/be1bb3ebdd29e457d0cd89dec98ce29397e4566f

Will be l

[2016-02-16 01:52] #134 closed

[2016-02-17 07:31] choonkending commented on #132
@danielstorch https://github.com/choonkending/react-webpack-node/commit/be1bb3ebdd29e457d0cd89dec98ce29397e4566f fixes the bug (thanks to your finding), but I'm still in the process of fixing tests + fixing up the flow.

[2016-02-19 16:37] sampattuzzi opened #142 "Might be worth mentioning in the setup to run npm install"
I (stupidly) came across this problem. Other starter kits run it by default with `npm start`. So it might be worth mentioning in the Readme that you need to run `npm install --dev` in order to build.

[2016-02-19 22:42] choonkending commented on #142
Thanks for raising this issue! :+1:

Good point about `npm install`.

I'd prefer having just a
[code]

So it would be easier to run for both `development` and `production`. Because depending on the node version you're using, `--dev` flag might actually be `--only=dev`. Hehe.

I'll make the above changes soon-ish. Let me know what you think!

[2016-02-19 23:04] choonkending commented on #142
https://github.com/choonkending/react-webpack-node/commit/335529454065db7076c2538b38bcc8793d6b7f1a

There you go :) Closing, feel free to reopen if you think it should be improved!

[2016-02-19 23:04] #142 closed

[2016-02-21 14:22] Donovan-Ensicaen opened #143 "Can't run the package : Use of const in strict mode"
Hi guys,

The starter kit seems great but I can't run it. I have this error :

[code]

Do you have an idea about this error?
Thanks

[2016-02-21 22:15] choonkending commented on #143
Thanks for raising this issue.

Just checking, did you run `npm install` and `npm run build`? Also which version of node are you running?
I'd need to get a bit more info because I'm not sure what the cause of this issue is. :)

[2016-02-21 22:47] Donovan-Ensicaen commented on #143
I was using an old version of node...

You can close the issue.
Thanks @choonkending

[2016-02-21 23:05] #143 closed

[2016-02-22 07:07] choonkending opened #144 "Redial for universal data fetching?"
https://github.com/markdalgleish/redial

[2016-02-22 21:12] choonkending commented on #129
This might also be a suitable time to consider making the API is more restful.

@charlieclark What do you think of a solution such as this? http://stackoverflow.com/a/7252311/1710968
Would be great to get more opinions on the API before I begin fixing the login/register flow properly.

[2016-02-22 21:18] choonkending commented on #103
@kaizvn Any luck you could take a look at your PR and get it ready for merging? Babel 6 is pretty standard now, and it would be worth looking into transitioning from Babel 5 to 6 with your help :smile:

Let me know if you have the capacity to deal with the PR currently, otherwise I'm happy to create a branch + PR for this.

[2016-02-23 04:43] alexhawkins commented on #103
+1 on Babel 6 PR

[2016-02-23 17:26] zamiang opened #146 "Favicon and other images do not load"
Issue is currently visible on the demo site. If you visit https://react-webpack-node.herokuapp.com/ you will see no favicon. If you view-source and visit one of the favicon / meta images. It will be blank.

If you open the image in a text editor, it is being rendered as a data url with exports. ie: ```module.exports = "data:image/png;base64,AAABAAEAIx8AAAEACAB8CQAAFgAAACgAAAAjAAAAPgAAAAEACAAAAAAAA

[2016-02-23 20:16] choonkending commented on #146
Thanks for raising this issue. I've noticed this as well, will have a look!

[2016-02-24 09:49] choonkending opened #147 "CSS modules with classnames is painful"
Was working on a hackday project with this today. With the const cx('B__e--m') it gets painful pretty fast.

[2016-02-24 09:50] choonkending commented on #146
https://github.com/choonkending/react-webpack-node/commit/b187dbb05d271d29332fd999040073344de22ce7 should fix it.

:) Thanks for that @zamiang. Please re-open if you think it can be improved!

[2016-02-24 09:50] #146 closed

[2016-02-27 14:46] choonkending opened #150 "postcss"
(Edited 6/03/2016)

Here's a brain dump of why I think we should go with [PostCSS](https://github.com/postcss/postcss#postcss---) completely - and eliminating sass from our boilerplate. They are not directly comparable (1:1 match) I know, but since we already use autoprefixer as part of our webpack config, I reckon it's high time we consider removing sass to see if it works swimmingly well.

**tl;

[2016-03-01 14:39] caranicas commented on #147
Hi love this project. it was everything I needed to get started, and been a tremendous learning tool (once I did all the redux videos on egghead). But yeah this class module loader is really painful. It was making it difficult to get some sass in a node module to match my selectors. My sass was compiling with the hash but the component that was being injected had the pure selectors. After I spent

[2016-03-01 16:03] MadeInMoon opened #151 "Add page-transition"
Hi everybody,
I added page transitions with "ReactCSSTransitionGroup" (react-addons-css-transition-group), would it be considered has an ui enhancement, and deserves a pull request, or is it out of topic? I'm new, sorry for asking that.

[2016-03-02 11:59] choonkending commented on #151
@MadeInMoon

I personally am a fan of CSS transitions, so I'm happy to see the code!

Haha, we're all learning here. Happy to have you contributing.

I do worry that it might make the boilerplate a bit bloated (for beginners who do not want css transitions), so it would be nice to have a look at the suggested code here (even a snippet) and we can take it from there. Might be worth adding an extra

[2016-03-02 12:18] choonkending commented on #129
Closing for now. Can re-open when we find more cases to fix for the login flow.

[2016-03-02 12:18] #129 closed

[2016-03-02 13:15] choonkending commented on #147
@caranicas Hey, thanks for joining in the fun :smiley:

Apologies for the late reply, because I really needed to read up on all this.

- Truly modular and reusable CSS
- No more naming collisions (Although if you are dealing with legacy codebase with bad CSS, there will still be overriding issues).
- Composability

[code]

You could map many classes to a single class for your component. I personal

[2016-03-02 20:13] caranicas commented on #147
Thanks for the resources I will def check them out.

I actually did resort to ` <div className={styles.header}></div>` in my naming, but my issue wasn't with classNames, per say,  but the `__[hash:base64:5]` that was getting affixed to many of my class names. Can you maybe speak to why you felt it was necessary to include that?

[2016-03-02 20:19] caranicas commented on #133
I'd just like to +1 this.

[2016-03-02 20:21] psimyn commented on #147
@caranicas the hash is just a way to ensure class names are unique, without being too long. You can set it to moduleName-className or similar if you prefer, using a hash just means there's a _very_ good chance nothing else will conflict with your styles (e.g. other classes, third party CSS, etc)

@choonkending jss looks good, I think that loader has been on hold due to  https://github.com/markdalg

[2016-03-03 06:05] mjewell commented on #121
I also thought this would be useful so I've started working on it. Take a look here if you're interested:

https://github.com/mjewell/react-webpack-node/tree/feature/postgres

[2016-03-03 06:59] choonkending commented on #121
@mjewell Thanks very much for that! I actually had a repo called https://github.com/choonkending/reap which had an example for postgres (this was based off an old branch which used alt).

Definitely worth creating a PR for a branch in this repo because it's more up to date with redux.

Unrelated to this issue but ...
I'd like to think about how we could make this repository database agnostic. (Yeo

[2016-03-03 07:32] mjewell commented on #121
Yeah, I saw reap and initially used it as a reference, but it's out of date enough that now I'm mostly ignoring it.

And yeah, totally agree, that would be great. I was hoping that once I get this working with postgres I can make it so that it's easy to swap out for the different databases sequelize supports, but that's still more limited than I'd like

[2016-03-03 08:44] choonkending commented on #121
I say go for it!! Let me know if you need help! :smile:

[2016-03-03 13:13] dzotokan commented on #150
[code]

[2016-03-03 13:33] dzotokan opened #156 "Slim & stateless version of the boilerplate"
Cloned the project and didn't need any of the auth/db/models things.

Any thoughts on stripping those out and maybe creating a separate branch?

i.e. Static react app with routes and an empty `need` maybe, with no authentication and DB. Would be more suitable in a microservices architecture land perhaps.

Happy to write up a PR removing those things (not for `master` obviously).

[2016-03-03 13:41] dzotokan commented on #137
Would LOVE to see a version with [Flow](http://flowtype.org).

[2016-03-03 13:47] choonkending commented on #150
Yep! But there is a roadmap for css too in my head:

What I have in mind for the next steps are:
- Replacing sass-loader with postcss plugins:
   - [Simple vars](https://github.com/postcss/postcss-simple-vars) to replace sass variables
   - [Nested](https://github.com/postcss/postcss-nested) for Sass nested functionality (maybe?)
   - [mixins](https://github.com/postcss/postcss-mixins)

Planning t

[2016-03-03 14:01] choonkending commented on #156
@dzotokan Definitely!

This has been bothering me because it took me at least 30 minutes stripping it out that day.

Good thinking. Perhaps we only need to keep that branch up to date when there are webpack or config changes then.

[2016-03-03 21:38] choonkending commented on #133
Agreed. Will take a look at this next in queue - after I have a bit of a poke around postcss :D

[2016-03-03 21:38] #103 closed

[2016-03-03 21:39] choonkending commented on #103
:ship:

[2016-03-04 12:43] MadeInMoon commented on #151
Ok Sir I'm preparing a clean snippet, and a demo online!

Your project is magic, and in my sens, adding transitions make it become so smooth, so pure, and almost addictive :)

I also have the feeling that this isomorphic/react/node/etc. environnement can make you feel so confidente with your code, with data, maintenance, ui/ux, without being closed into a framework or a technology, so thanks again

[2016-03-05 03:47] dzotokan commented on #133
+1

[2016-03-05 04:02] dzotokan opened #157 "Redux webpack console error in production"
Running the app in 'production' (`npm start`) throws the following error:

[code]

Applying [this](http://stackoverflow.com/questions/30030031) fixes it.

Any objections on puling it in?

https://github.com/dzotokan/react-webpack-node/commit/35b5fe6af7dce548861c7b64c397b2dd6a6e67ba

[2016-03-05 05:10] choonkending commented on #157
:+1

I agree we should get rid of that warning. But I found problems after deploying to Heroku - server side async calls require absolute urls, and we require a `process.env` hostname and port, which define plugin overrides when setting process.env.

Might be doing server side async calls wrong, I'll have a look to see how we can fix this !

[2016-03-05 06:51] #109 closed

[2016-03-05 07:00] choonkending commented on #151
@MadeInMoon Good work! Glad that this repository helped you with learning :smile:

The code looks good and understandable. I haven't used `React.cloneElement` before, so would have to read up on that.

Happy to look at the code when you're ready. :+1:

[2016-03-05 09:09] MadeInMoon opened #159 "npm run build : 'document is not defined'"
I tried to had few UI modules ([Halogen](http://madscript.com/halogen/), [react-spark-scroll](http://gilbox.github.io/react-spark-scroll/examples/demo/demo.html)).

When your localhost is served by the command "npm run dev", you can import your module, integrate them into your page, save your file, and that everything works fine in the browser, until you run a 'npm run build'

'document is not def

[2016-03-05 09:40] choonkending commented on #159
@MadeInMoon Good question.

I've recently been trying to create an node module for a react menu as well, and had encounter similar errors.

That's right. I think it's because the libraries normally assume the `window` object is available (not a wrong assumption if you do not consider server-side rendering).

Might have to think about this. I *feeeel* like there s a webpack-y way to solve this. Lik

[2016-03-05 10:22] psimyn commented on #159
@MadeInMoon does the wrapper you had above cause a "code rendered differently on client and server" warning in the console?

@choonkending still unsure of even a 'good' way to deal with this automatically for anything, moving the `window !== undefined` check into webpack define plugin is about the only change in that regard.

I had considered some kind of global try/catch thing (or try automatical

[2016-03-05 11:14] choonkending commented on #157
Found a fix for this (from this [tweet](https://twitter.com/tikotzky/status/679796396149596160))

https://github.com/tikotzky/inline-environment-variables-webpack-plugin helps fix the problem.

The problem here is that when using `DefinePlugin` for `process.env` to replace `NODE_ENV`, the `process.env.HOST_NAME` and `process.env.PORT` does not get set for Heroku :(

The reason why we need that is

[2016-03-05 11:14] choonkending commented on #157
@dzotokan Let me know if that fixes it.

[2016-03-05 15:12] kaizvn commented on #103
sorry dude I was busy with my own project :(! I hope I could help you later, terrible sorry!

[2016-03-05 16:45] MadeInMoon commented on #159
@psimyn  yes :

<img width="588" alt="capture d ecran 2016-03-05 a 17 38 20" src="https://cloud.githubusercontent.com/assets/17543336/13548841/960ae222-e2f9-11e5-8483-3b8bb6b5875d.png">

So it's squeezing all the ismorphic benefits for all the app?

[2016-03-05 19:26] psimyn commented on #159
not all - you still get a fast initial render. It just means it nukes/repaints it after that because it (correctly) detects changes.

If you don't want to fix the component, you can make it just render client side with something like:

[code]

Which may do what you want, while still being the same code client/server side

[2016-03-05 23:45] psimyn commented on #159
Worth keeping an eye on https://github.com/webpack/style-loader/issues/109 to see if this can be solved in webpack land

[2016-03-05 23:59] choonkending commented on #159
@psimyn :+1:

You could optionally try making a High order component for this to be removed if it gets fixed in webpack land?

[code]

And use this HOC like this.

[code]

That way you get to still get the onClient as a prop :)

The above code hasn't been tested, but it should point you in the right direction.

[2016-03-06 05:25] #157 closed

[2016-03-06 05:26] choonkending commented on #133
Will fix this after I have a bit of postcss fun :)

[2016-03-06 11:09] choonkending commented on #133
Writing my thoughts down as I'm thinking of a good solution for this.

# What we want
On `npm run dev`, any changes to code should trigger a change and automatically reload.

## Problem
`react-transform-hmr` *only* works for any files from the entry point `client.jsx`. `webpack-dev-middleware` and `webpack-hot-middleware` currently only gets the `webpack.config.dev.js` and is compiled.

If you mak

[2016-03-06 11:39] psimyn commented on #133
@choonkending https://www.npmjs.com/package/hot-reload ?

[2016-03-06 18:59] MadeInMoon commented on #151
I forked [here](https://github.com/MadeInMoon/react-webpack-node)! I resumed what I added in the readme.

( I added background color in About.jsx and Dashboard.jsx for you we can see the nice effect of transitions.)

(I didn't imporved the standard opacity transition given in the official react [example](https://facebook.github.io/react/docs/animation.html), so it could even be better)

----------

[2016-03-06 21:27] choonkending commented on #151
Thanks mate. I'll take a look at the hashing problem when I get the chance.
Good work!

I agree, might not be worth creating a separate repo, but it might
confusing for new comers using react router to have the ontransitionenter
in App.jsx.

Maybe we could try it on one page if possible and add that to the readme
for animations - maybe wrap About with the transition group. I might be
wrong - viewi

[2016-03-06 21:31] choonkending commented on #133
@psimyn What's the difference between that and nodemon? Not really sure how
this hot reloading is expected to work :(

On Sun, 6 Mar 2016 22:39 Simon Knox <notifications@github.com> wrote:

[2016-03-06 21:32] choonkending commented on #103
All good man. Your initial PR was a good reference for me to start with :)

[2016-03-06 21:40] MadeInMoon commented on #151
You're welcome, it's a pleasure to contribute!

---------
The hashing problem sould disappear if you switch to postCss no?

--------

What would you like to animate in the About.jsx? Simple texts?

And do you think about this architecture? :

App/About/ReactCSSTransitionGroup/{content}

[2016-03-07 21:21] choonkending commented on #133
@charlieclark @dzotokan @psimyn @caranicas

The PR will go out by the end of today - unless we find any :bug: (s).

I'm going with the `nodemon` approach because it's simpler. (Nodemon watches for the files/folders you wish it to watch in `nodemon.json` and restarts the server, you will *still* have to refresh your page)

I think this is a good enough change and will significantly reduce developer

[2016-03-08 02:24] choonkending opened #163 "Socket Example"
Have an example that uses Sockets with a higher-order component that provides all the eventHandlers that dispatches an event to it's children.

[2016-03-08 06:04] HellMagic opened #164 "how to use ES6 in production env"
i have realized the recently commit about babel6, and i have successfully used ES6 through babel doc, but when i exec "npm run build" and "npm run start" followed the doc there is error throw where ES6 code exist. so, how can i use ES6/7 in this awesome react-webpack-node?if there is anything i have missed?

[2016-03-08 06:51] choonkending commented on #133
Merged! Please re-open if you find an issue related to nodemon (or create a new issue).

[2016-03-08 06:51] #133 closed

[2016-03-08 06:52] choonkending commented on #164
@HellMagic Thanks for raising this issue.

Can you provide a bit more context as to what error message you see? You should be able to write ES6 code for client side.

[2016-03-08 09:51] HellMagic commented on #164
@choonkending Thanks for your reply. First, i should apology, because i didn't say clearly the error just be throwed when i write es6 code in server side, like routes file.
the error message not so helpful, just said "let is not defined,...", because i used "let" syntax. And, i have fixed it just now, i through configed a script in package.json file, like "build:server": "babel --presets es2015,st

[2016-03-08 10:32] choonkending commented on #164
@HellMagic Thanks for that!

Hopefully the latest commit actually solves the initial server error you had.

Definitely! We already use css-loader, but I'm in the process of adding postcss plugins into the build and removing sass from the stack - https://github.com/choonkending/react-webpack-node/issues/150 . It would definitely be good to load fonts + long-term-cache config :+1:

I'll look into th

[2016-03-09 12:59] HellMagic commented on #164
@choonkending  very coooooool~~~
postcss maybe the best practice~it make the task more clear!
the project is awesome, hope it better and better, :beers:

[2016-03-09 16:50] caranicas commented on #133
I'm in the midst of my own project for today, but I will spend tomorrow pulling this new base and moving my code over. Ill let you know how I like it.

[2016-03-09 20:48] choonkending commented on #164
@HellMagic Thanks man! :beers:

If you don't any objections, I will close this issue. Please feel free to contribute/raise any issues if you find any. :smile:

[2016-03-09 20:48] #164 closed

[2016-03-11 15:20] jdrmar opened #166 "fetchTopics called twice on server-side render"
Hi,

First of all thanks for your boilerplate. I'm just starting out and having all the pieces together helps me out a lot!
While trying to figure out which piece is doing what, I noticed that on the initial page render fetchItems is called twice.
I think this is caused by the line

const needs = components.reduce( (prev, current) => {
    return (current.need || [])
      .concat((current.Wrapped

[2016-03-11 18:08] caranicas opened #167 "npm install for a second time"
There seems to be an issue if you re run "npm install" without specified package name. I pulled the new version with nodemon and  got in running. the first thing I did was move over my dependencies and go to install them. However when i did this. it seems to have kicked off the whole rebuild process.

It isn't the biggest issue, because normally I add new packages one at a time, so it is a low pri

[2016-03-11 22:11] caranicas commented on #133
So i was trying to use this new version, and using nodemon it is still very slow when making a change to server code. I explored the webpack docs and found the` --watch ` command. I added to the `build:webpack` script in the package.json

`"build:webpack": "NODE_ENV=production webpack --progress --colors --watch --config ./webpack/webpack.config.prod.js",`

the only downside is i dont seem to be a

[2016-03-12 01:56] choonkending commented on #133
@caranicas Might have not documented it well enough, but the recent change allows you to run just `npm run dev` without running `npm run build` any longer.

It have a separate server-side rendering webpack config that does not `uglify` the code so it should be relatively faster.

If you run
[code]

This in turn runs

[code]
within the `nodemon.json` file. Only downside to this is if you make a cha

[2016-03-13 00:41] Miauwi commented on #166
I think it happens because of
`export default connect(mapStateToProps)(Vote);`  in app/containers/Vote.jsx
react-redux module creates a wrapper element on Vote as far as I understand, and api/fetchComponentDataBeforeRender.js sees both components.

What I did to deal with it is,

so it only puts the 'statics.need' on the wrapper created by react-redux and work with that outside instead
by doing so

[2016-03-13 06:40] choonkending opened #170 "Including images in css"
Raised by @dzotokan

[2016-03-13 18:08] Epochi opened #171 "fetchComponentDataBeforeRender doesn't get access to session"
Hey,

If user is already logged in and coming to the site, I'm unable to get user session data when using this

app/Containers/Votes.jsx
[code]
to call
server/config/routes.js

`app.get('/topic', topics.all);`

server/controllers/topics.js
[code]

I think it's because of fetchComponentDataBeforeRender, it dispatches the action from itself and not from the component, so it doesn't pass the user. Be

[2016-03-15 07:53] choonkending commented on #171
@Epochi Nice use case :+1: for checking the user.

Don't we already do this [here](https://github.com/choonkending/react-webpack-node/blob/master/app/server.jsx#L63). You can access the redux store to check if the user is authenticated.

You could probably modify [this](https://github.com/choonkending/react-webpack-node/blob/master/app/actions/topics.js#L128) function to conditionally check if the

[2016-03-15 07:59] choonkending commented on #167
@caranicas
Thanks for raising this issue.

The post `npm install` build process is intentional so that when we deploy it (and run `npm install` it will automatically build). The line in the config is [here](https://github.com/choonkending/react-webpack-node/blob/master/package.json#L17)

Do you think this `postinstall` is an unneeded step? I find it valuable for beginners to just install and get i

[2016-03-15 08:16] choonkending opened #174 "Unavailable from 18/03/2016 - 05/04/2016"
I won't be available (or have limited connectivity) to answer to questions/issues/PRs immediately from the period *18/03/2016* to *05/04/2016*. :tropical_fish:

Please **still** create issues, contribute with PRs and suggestions - they are always appreciated :)

[2016-03-15 15:05] caranicas commented on #167
Yeah I think it might be a bit superfluous, but more it was just unexpected. I'm not sure how inexperienced the people are that you are targeting this project at, but I would hope that if they were jumping into this scaffolding that they would have used a some build system and NPM before. They should have enough experience to know how to get a project with a build script up and running. If they do

[2016-03-15 16:12] philohelp opened #175 "app shows "React Webpack Node" above the nav"
Everything seemed correct (I installed some modules like react-toolbox which appears buggy, inline-grid, draftJS, radium and some minor ones) then I restarted the server : now the app is loaded & rendered correctly but it doesn't load any data and it shows "React Webpack Node" on top of the navbar. No error message whatsoever. As nothing tells me where the problem is coming from, do I get a chance

[2016-03-15 17:11] philohelp commented on #175
Fun is back. Lightspeed with all features, it rocks. Problem may have been caused by :
- Image server cant find
- Real trouble with webpack loading fonts - I dont know where to put them at first...
- Bug in react-toolbox list components. Ill figure out.
But by the time Id really love to know what happens when app shows "React Webpack Node" above the nav.

[2016-03-16 07:42] #170 closed

[2016-03-16 07:46] #150 closed

[2016-03-16 07:53] choonkending commented on #151
@MadeInMoon Sorry I did not notice this!

I just removed the basic hashing for the postcss (just merged in), so let me know how that works for you.

Sounds good to me! I generally love animations :)

Do you mean

[code]

Yeah, I'm not fussed about that. I would like to add that to the docs, to say Animated Page Transition or similar :)

[2016-03-16 07:59] choonkending commented on #156
I'm going to try to work on this guy. The refactoring here will mainly be in the `server/` folder.

The easiest approach I can think of is to:
- abstract connecting + authentication + model creation  into a different file - so people can easily comment that out if you wish to switch databases/not use a database.

I'll have a go to see how much work this will take + whether it's a good solution

[2016-03-16 13:00] MadeInMoon commented on #151
@choonkending no pb!!

I'll try again as soon as I can (few days maximum), to re-implement it within the last repo.

for animations - maybe wrap About with the transition group

When i saw your sentence above,I said to me that you wanted to do like that :

    About.jsx
    <ReactCSSTransitionGroup>
       {content}
    </ReactCSSTransitionGroup>`

But maybe it's not the usage you wanted to? And m

[2016-03-16 21:45] jonjamz opened #177 "Error: Cannot find module 'autoprefixer'"
After cloning the repository and runing `npm install` and then `npm run dev` I get the following:
[code]

[2016-03-16 21:51] choonkending commented on #177
@jonjamz Sorry I was just notified of this minutes ago as well.

I think it might have occured in https://github.com/choonkending/react-webpack-node/pull/172 when I was trying to rebase some of the changes. I'll try to get a fix out during lunch, sit tight!

[2016-03-16 21:53] choonkending commented on #177
Really sorry about this one

[2016-03-16 22:01] choonkending commented on #177
@jonjamz
If you're in a rush to get this working, try working from [this](https://github.com/choonkending/react-webpack-node/commit/359932f1c408a3a7d3f6bb7824e324a6cad6b1da) commit.

I believe updating the packages / css-loader + postcss-loader might cause some weird behavior.

[2016-03-16 22:13] choonkending commented on #177
@jonjamz The issue is that we removed the dependency `npm install autoprefixer`.

That should fix it. I'll push a hotfix when I get the chance. Thanks for raising this issue.

[2016-03-16 22:17] jonjamz commented on #177
Yes I was able to fix the problem by running that, thanks!

[2016-03-17 01:37] choonkending commented on #177
@jonjamz ^ Fixed. Thanks!

[2016-03-17 01:37] #177 closed

[2016-03-17 07:33] sebkouba opened #179 "3 tests failed on first test after npm install"
Hi Ken,
This project looks really interesting and it does exactly what I want to learn. I now want to dissect it to really understand it. The first problem I'm running into is that not all tests pass after I run npm test for the first time. Is there something I'm doing wrong or is that expected?
I'm running node v5.4.1
Thanks for your time.

[code]

[2016-03-17 08:11] choonkending commented on #179
Hey mate, the recent change with update package dependencies and postcss
might have broken the test. I'll have a look!

On Thu, 17 Mar 2016 18:33 sebkouba <notifications@github.com> wrote:

[2016-03-17 09:18] choonkending commented on #179
@sebkouba Thanks for raising this.

https://github.com/arnaudbenard/redux-mock-store -> recently gave a major version bump

[2016-03-17 09:28] choonkending commented on #179
@sebkouba Fixed :+1:

Pull and let me know how it goes.

[2016-03-17 09:28] #179 closed

[2016-03-17 10:14] sebkouba commented on #179
That was fast! It works for me as well!
I'm impressed. I had assumed I was doing something wrong...

[2016-03-17 14:33] Epochi commented on #171
@choonkending  hey, thanks for the answer!

You are correct, both of those correctly get the user session, but when fetchTopics() gets called from through fetchComponentDataBeforeRender, the axios promise comes from the server itself.

So User sends GET from his ip with his session data,cookies, and then fetchComponentDataBeforeRender sends a new axios GET from localhost and creates new request ob

[2016-03-18 06:08] sebkouba opened #182 "How do dev-server, dev-client and express fit together?"
I can't figure out how the pieces fit together. I'm trying to understand the scenario where the project is run in dev mode. From what I understand:

1. build:dev is run executing webpack.config.dev-server.js
This produces a server.js file in /public/assets. Is that file ever used? One comment suggests this is where we prepare the server side rendering. Is that the case? What are the outputs from t

[2016-03-18 13:16] psimyn commented on #182
server.js is used as `compiled_app_module_path` in [routes](https://github.com/choonkending/react-webpack-node/blob/master/server/config/routes.js#L11)

`server/index.js` is used to run everything, it has some extra stuff in dev mode.

For finding the starting points (or what gets run), you can start in [`package.json`](https://github.com/choonkending/react-webpack-node/blob/master/package.json).

[2016-03-19 01:31] choonkending commented on #171
Definitely a valid concern! Thanks for pointing that out.

I might have to look into this further as I do not immediately know what the solution for this is.

[2016-03-22 02:11] Epochi commented on #171
@choonkending I think I have found a solution!

inside  [app/server.jsx](https://github.com/choonkending/react-webpack-node/blob/master/app/server.jsx#L58)

[code]

As I understand the render function gets called only once, because later on all routing is handled solely by react-router. So axios creates interceptor only for requests that are called by statics need and on response the interceptors

[2016-03-22 09:19] Epochi commented on #171
Although there might be a big hole, if you do not call  `axios.interceptors.request.eject(requestInterceptor);`
 at all,one users cookie appears on initial server renders for users that aren't logged in...

This is because i put the interceptor on global axios object, so I believe if there were several users server rendering at virtually the same time, their cookies would mix up. Don't really have

[2016-03-22 13:15] caranicas commented on #32
Im not sure this is related to decorators. I've gotten that warning a couple of times, I think if you update your jsx too much the server and client get out of sync. Anytime i see that a clean and a build fix me right up.

[2016-03-22 13:23] caranicas commented on #175
I've had that happen to me as well. It seems to happen when there is an issue with the hand off from what the server rendered to what the client has expected the server to render. If you try cleaning and rebuilding and you still see it, then I would just work backwards until you figure out which is the problem module.

[2016-03-22 17:05] caranicas commented on #26
the best example I have found using es6 on the server is the react starter kit from kriasoft. https://github.com/kriasoft/react-starter-kit

the way it uses webpack is and the build scripts is pretty different, so I am still trying to detangle it all, and figure out why the bable-loader isn't running on our server code.

[2016-03-23 00:26] Epochi commented on #171
I solved it! #184 I believe with this I'll be able to scale easily using only react-router for routing and support initial server side rendering for routes that respond with slightly different data depending on user authentication.

[2016-03-23 00:27] #171 closed

[2016-03-23 10:31] ReallySmall opened #185 "Passing arguments into need"
Hi,

Great work on this, enjoying tinkering with it.

I have a question about using need/ fetchComponentDataBeforeRender().

In a container, what's the best way to pass in an argument with an action specified in need?

i.e. something like this won't work:

[code]

In my project I have an undetermined number of content items which I want to fetch and add to state only as and when they're requested,

[2016-03-23 12:47] Epochi commented on #185
Hey @ReallySmall ,

I think `static need = [ fetchPage ] `just points the the action inside actions/pages, and you have to specify the arguments to accept there. I'm 90% sure about that.

Unmodified `fetchComponentDataBeforeRender` uses  `dispatch(need(params)`, so if you have any route params in react-router i.e.` <Route path='posts/:id'>` it would pass the wildcard id to your need.

you can also

[2016-03-23 21:41] ReallySmall commented on #185
Thanks very much for the pointers @Epochi !

That's helped me zero in on the issue - as it turns out it was all actually working fine and it was just down to me making a really basic error. The params object was being passed in - and I was forwarding that object to the api route, which was just expecting a string. No wonder nothing ever came back.

Thanks again for the explanation, that's really c

[2016-03-25 21:26] hillscottc opened #186 "Problem with the latest nock version."
In the package.json file, you have floating version of
"nock": "^7.2.2"
As of now, that fails trying to grab the latest version 7.7.1, which appears broken in npm somehow.
So I changed the dependency SPECIFY the earlier 7.22 version. (No ^)
  "nock": "7.2.2",

[2016-04-07 17:54] mjewell commented on #121
#187

[2016-04-11 01:07] choonkending opened #188 "React 015"

[2016-04-11 11:35] choonkending commented on #94
I think this has been sitting on the back burner for a while now. It should be the next thing we look at after abstracting DB.

**Potential references**
1. [https://davidwalsh.name/react-authentication](https://davidwalsh.name/react-authentication)
2. [https://jwt.io/](https://jwt.io/)

[2016-04-11 13:18] choonkending commented on #26
I reckon we should compile with `babel-cli` instead of the `babel-node` method being used in the react-starter-kit because we are aiming for production use. Read [babel-node](https://babeljs.io/docs/usage/cli/).

[2016-04-12 09:21] #182 closed

[2016-04-13 22:56] #26 closed

[2016-04-17 04:36] mjewell opened #191 "Get redux devtools working"
Currently ```createDevToolsWindow.js``` exists but isn't being used anywhere. I tried some simple stuff to configure it but ended up with some errors. Not sure if I had something set up wrong or if it's broken but [this](https://github.com/gaearon/redux-devtools/blob/master/docs/Walkthrough.md) has some instructions on how to set it up and it seemed like some stuff was missing. If I just did somet

[2016-04-17 09:22] HellMagic opened #192 "use CommonsChunkPlugin make error"
Hi, guys, when i use CommonChunkPlugin in webpack.prod.config follow the guide from the webpack, but i got some error, and the error is different if i place the plugin in different env, like browser and serverside. i think i should config both them, but when i place the plugin in **serverside**, then i start server, send the request, and i got **App.default is not a function** error message. i thi

[2016-04-17 13:24] choonkending commented on #191
Good pick up. I removed it's usage awhile ago when I refactored, but never got around to removing it.

I'm not sure how valuable it is in development (given we have something like redux-logger). Sorry I haven't had the time to properly read redux-devtools to see if it's worth keeping. What do you reckon?

I like the idea of the chrome extension.

[2016-04-17 16:13] mjewell commented on #191
I'm not really sure how useful it would be, I mostly just thought it looked cool and wasn't sure how to get the existing code working. Seems like nice to be able to do the time traveling and stuff, and the chrome extension is pretty easy to support so might be worth it

[2016-04-18 16:24] mjewell opened #195 "Fix Hot Module Reloading"
As far as I can tell, hot module reloading doesn't actually work. The page fully refreshes whenever you change any app code. Also, it looks like https://github.com/gaearon/react-transform-hmr is deprecated, so we should swap that out.

[2016-04-18 19:16] azamatsmith opened #196 "Building stripped down version, what is the best way to use bootstrap?"
I am building a stripped down version of this repo.

I want to be able to use bootstrap and not the modular class styles that you have. What is the most efficient way to do this? Thanks!

[2016-04-18 23:42] choonkending commented on #195
Thanks. I didn't know hmr got deprecated, we should definitely swap it out.

The way it's set up, hot reloading only works on client side code unfortunately :( I'll have a look as part of using hot reloader 3

[2016-04-18 23:45] mjewell commented on #195
As far as I know it is only a client side thing, right? But the client side should be able to reload without a full page refresh if you're only changing client code and I don't think that's the case right now. For me at least, the page refreshes, albeit automatically

[2016-04-18 23:57] choonkending commented on #195
Weird. Must have regressed recently. It shouldn't need to refresh.

Only the folders covered in `nodemon` triggers a full page refresh.

On Tue, 19 Apr 2016 at 09:45 mjewell <notifications@github.com> wrote:

[2016-04-19 07:36] psimyn commented on #192
Few things, I'll put dot points and can explain if anything is unclear:

 - you don't need common chunk plugin for server config
 - since you are specifying dependencies in the vendor entry point, the commonchunk won't actually do anything
 - are you including both the vendor and app entry points in your HTML?

[2016-04-19 08:31] choonkending commented on #195
@mjewell Hey, I tried `npm run dev` and editing `Vote.jsx` appears to work with hot reloading.

<img width="748" alt="screen shot 2016-04-19 at 6 23 53 pm" src="https://cloud.githubusercontent.com/assets/3787885/14632464/27d05306-065c-11e6-9d48-903357806ba0.png">

The files that are not watched by the transform-hmr are:
     - "app/server.jsx",
     - "app/routes.jsx",
     - "app/helmconfig.js",

[2016-04-19 09:24] AJIh commented on #195
@choonkending Hi, I tried editing different files. In most cases(whether .jsx or .css), HMR works greatly. However,  a full page refresh is triggered when editing `app/css/common/colors.css`.

I tried to update react suites to 15.0.1 by myself, which I am not sure is the reason causing the refresh.

[2016-04-19 09:34] AJIh commented on #195
postcss/postcss-simple-vars#37 Maybe the issue is saying the same thing. :)

[2016-04-19 14:31] mjewell commented on #195
Hmm, strange. It works for me if I edit components too. I was editing a reducer, trying to replicate what they show in the gif at the top of [the redux devtools repo](https://github.com/gaearon/redux-devtools), and that seems to show an error in the console and then a full page refresh for me, but it loads too quickly for me to see what the error is.

[2016-04-19 15:04] mjewell commented on #94
Is anyone currently working on this? I'm happy to take a look at it

[2016-04-19 21:21] ccorcos opened #197 "Separate npm dependencies"
Is it possible to separate the npm dependencies? How would you hande a react native app here?

[2016-04-19 21:29] choonkending commented on #94
Go ahead! I don't think anyone is :)

On Wed, 20 Apr 2016 01:04 mjewell <notifications@github.com> wrote:

[2016-04-20 08:36] choonkending commented on #197
Thanks for raising an issue.

Do you mean separating npm dependencies to prod and dev dependencies?

I haven't used react native in a while, or in this project, so I'm not sure
what the complexity involved will be.

Can you elaborate on your question?

On Wed, 20 Apr 2016 07:21 Chet Corcos <notifications@github.com> wrote:

[2016-04-20 16:16] mjewell commented on #191
Chrome extension support added in #194

[2016-04-21 02:53] HellMagic commented on #192
@pslmyn thanks for your reply!!!
- you mean i just need to config common chunk plugin for browser config?
- i don't understand this, you mean i write wrong something?
- yes, i including both the vendor and app entry points in the html string of server.jsx file

that's all, anything i miss?

[2016-04-21 02:57] HellMagic opened #199 "support es7 decorator"
hi, i try to add es7 decorator support, but when i follow the webpack guide i found the guide add the plugin through the plugin string not the function we are use, so, how to implement it in the nice project?
please help me, thanks very much!

[2016-04-21 03:04] psimyn commented on #192
yep, you can have it in server config, but I don't think it will be used

CommonsChunkPlugin works by checking what modules are used in a lot of places, and _automatically_
takes them into the common chunk. Since you are manually specifying vendor modules in your `vendor` entry point, there will probably be no benefit to using it (unless you have some vendor libraries that _aren't_ common)

Common

[2016-04-21 08:29] #191 closed

[2016-04-21 20:08] ccorcos commented on #197
I mean separating the npm dependencies, as well as versioning, between node, react-web, react-native, and whatever else might be going on. That way everything is more decoupled.

[2016-04-22 04:06] HellMagic commented on #199
yes, thanks, got it, thanks very much~sorry about i should search if have relative issues have exist~anyway, thanks again~ @kybaeus

[2016-04-22 05:31] AJIh opened #202 "Front end routing does not fetch data for component"
`Vote.need` functions are only called in server side. When clicking `Ninja Ocean` to navigate to index route, the `Vote` component's props are not fetched at front end.

[2016-04-22 06:37] AJIh commented on #202
I tried to add a function to `client.jsx`.

[code]

This will make `window.__INITIAL_STATE__` useless. Because `Router` will trigger `onUpdate` when first loaded in page.

[2016-04-22 07:29] AJIh commented on #202
@choonkending . I have created a PR to fix this.

 The repo inspired me a lot. Thanks. :)

[2016-04-22 09:38] choonkending commented on #186
There's a latest of nock which appears to be working fine. So i'll bump it up to 8.0

[2016-04-22 09:51] choonkending commented on #202
@AJIh Thanks for contributing!! I'll have a look when I get the chance! Do you mind rebasing your PR with the latest changes from master? I merged some changes.

So if you have this main repository as your upstream remote,
[code]
in your `/fix-frontend-route-fetch` branch to replay your changes on top of the commit history.

[2016-04-22 09:51] choonkending commented on #202
Glad to know it helps! 👍 👍 🚀

[2016-04-23 01:44] #188 closed

[2016-04-23 01:44] #186 closed

[2016-04-23 01:44] #174 closed

[2016-04-23 05:11] choonkending commented on #202
Just had a look at this issue. Thanks for the PR.

This issue has been bothering me quite a while.

To summarise for those reading without context:

**Problem**
Client side does not asynchronously *fetch data* on navigation.

**Steps to reproduce**

**Reason**
*fetch data* only happens on server-side route matching in `server.jsx`.

**Approach**
1. use `react-router`'s [onUpdate](https://github.co

[2016-04-23 16:30] huyphamily opened #204 "fetchTopics is called twice"
I recently found that fetchTopics was called twice on initial page load.

If you add a console log to your topics/controller/all, you will see it display twice in your console on initial page load.

I believe it has to do with this line of code in fetchComponentDataBeforeRender:
[code]

I added a console log after this line to see what needs equal and the result was this:
`[ [Function: fetchTopics

[2016-04-23 16:33] huyphamily commented on #204
woops, saw an issue was created already.

[2016-04-23 16:33] #204 closed

[2016-04-24 07:20] #202 closed

[2016-04-24 20:03] JoelSanchez opened #205 ""constants" name conflict"
Hi, I experienced a problem using this boilerplate because this:

...imports a lot of constants that are unrelated to the app, supposedly they are internal to Node.js now, as mentioned [here](https://www.npmjs.com/package/constants).

So maybe it would be a good idea to rename "constants" to "types", since that's what they really are anyway.

[2016-04-26 05:33] WestleyArgentum opened #207 "setting up postgres, running sequelize init"
I'm having trouble setting up postgres.

I've followed the docs, set up my database, run
[code]

But when I try to run `npm run sequelize db:migrate`, I get an error saying that I should run `sequelize init`.

Fair enough, so I do that, but then it creates a new config and empty folders for migrations, etc.

Looking in `./server/db/sequelize` I see the migrations I think I'm supposed to be using..

[2016-04-26 05:45] WestleyArgentum commented on #207
Ah.

I had to cd into `./server/db/sequelize` and run `../../../node_modules/.bin/sequelize db:migrate --config ./sequelize_config.js`

I would close this and submit a PR to the docs, but that `../../../node_modules/.bin/sequelize` is pretty messy... unfortunately it didn't work when I just ran `npm run sequelize db:migrate --config ./sequelize_config.js`

Do you think there is some way to explain

[2016-04-26 08:53] choonkending commented on #205
Interesting! We could call them `types` or `actionTypes` to be more explicit.

I don't have an issue with renaming the file given the current behaviour resolves things incorrectly.

Also feels like there should be a webpack config that needs to be fixed. Given in the future, we might have other files that are named the same as a Nodejs internal lib.

[2016-04-26 09:02] choonkending commented on #207
@WestleyArgentum Thanks for creating this issue.

Interesting. When I was running through this docs with a fresh clone, I didn't have to run `sequelize init`, so I didn't have the issue when running `npm run sequelize` :(

@mjewell might have more context to this issue. 🍶

[2016-04-26 09:09] #166 closed

[2016-04-26 14:30] mjewell commented on #207
Hey,

For me just running ```npm run sequelize db:migrate``` works fine. If it's asking for ```sequelize init``` that means it can't find ```sequelize_config.js```, but the ```.sequelizerc``` file should be telling it where to look for that, and at least locally ```npm run sequelize db:migrate``` seems to work from any subdirectory in the project. Did you somehow lose the ```.sequelizerc``` file?

[2016-04-26 15:53] WestleyArgentum commented on #207
Oh my gosh, I'm sorry, at some point I must have copied files over in osx finder and thereby lost all the .files

Thanks very much, sorry for the noise

[2016-04-26 15:53] #207 closed

[2016-04-26 15:57] mjewell commented on #207
Haha, no problem. Glad it's all working

[2016-04-26 16:34] jesshmusic opened #208 "Using Bootstrap CSS"
Is there a way to use Bootstrap? I cannot figure out how to get that going with the ExtractTextPlugin.

[2016-04-26 17:12] WestleyArgentum opened #209 "should we still not commit sequelize_config.js?"
https://github.com/choonkending/react-webpack-node/blob/master/server/db/sequelize/sequelize_config.js

The warning at the top was added back when the file was automatically generated, but it seems pretty generic and nice now. If we don't commit it, and try to build somewhere new, won't that be a pain? Is there any downside to committing it?

[2016-04-26 17:17] mjewell commented on #209
Oops, my bad. Yeah, that is fine to check in. The ```sequelize_config.js``` in the ```server/db/postgres``` folder may potentially be worth warning about depending on if you decide to put any sensitive info in there, although right now it just uses obvious and non-sensitive defaults (root username, null password, localhost)

[2016-04-26 22:01] #209 closed

[2016-04-27 21:27] WestleyArgentum opened #211 "advice for stripping out server side rendering?"
Sorry for creating all the issues.

I'm very new to server side rendering, and I'm actually having a lot of trouble with it. More importantly, I'm not really building anything that will benefit from it.

I like the backend api setup in this repo, but I'm thinking about replacing the front end with a static app. This seems tricky though, so I just thought I'd ask to see if you had any advice?

[2016-04-27 22:00] choonkending commented on #211
Sure! There should be a couple of things to look out for :

1. Replace the routes.js for any endpoint to serve a static template using
something that will render HTML (jade, etc). (Remember still to set
window.__INITIAL_STATE so the stores will initialise)

2. You no longer need server.jsx, webpack.config for server.jsx, or
anything that references the compiled file in the server/ folder.

I can't

[2016-04-27 22:42] WestleyArgentum commented on #211
mk, thanks!

[2016-04-27 22:42] #211 closed

[2016-04-28 17:01] Grungla opened #212 "Still logged-in after logout"
After logout, when you refresh the page it logs you back in.

[2016-04-28 20:36] huyphamily commented on #212
I think it's a passport issue.

The issue here:
https://github.com/jaredhanson/passport/issues/246

stack overflow discussion here:
http://stackoverflow.com/questions/13758207/why-is-passportjs-in-node-not-removing-session-on-logout

I haven't had a chance to try anything out yet, but take a look and let me know what you ended up doing.

[2016-04-28 22:59] huyphamily commented on #196
Add the stylesheet you want to app/helmconfig.js

Then in app/components/Meta.jxs, do something to this line...
[code]
You can remove that line completely.....let me know if this works for you.

[2016-04-28 23:00] huyphamily commented on #208
I answered a previous issue, hope this helps you as well.
https://github.com/choonkending/react-webpack-node/issues/196

[2016-04-28 23:27] choonkending commented on #212
Thanks for raising this issue.

Could be sessions not working for you. If you're in production , you're
expected to have a HTTPS connection.

I'll have a look whether we regressed or not.

On Fri, 29 Apr 2016 06:45 Huy Pham <notifications@github.com> wrote:

[2016-04-29 02:56] Grungla commented on #212
Hi huyphamily

I looked over it and I solved it buy changing **resave** option to **false** inside server > config > express, thanks for the help though.

[2016-04-29 20:18] MrSkinny commented on #195
Hi there. Coming in completely fresh, I did:

[code]

and the production site fails to load with console error:
`index.js:51 Uncaught Error: locals[0] does not appear to be a `module` object with Hot Module replacement API enabled. You should disable react-transform-hmr in production by using `env` section in Babel configuration. See the example in README: https://github.com/gaearon/react-transfor

[2016-05-02 00:16] choonkending commented on #208
@huyphamily Thanks for answering!

@jesshmusic Please reopen if you still have issues with this, will be happy to help.

[2016-05-02 00:16] #208 closed

[2016-05-02 00:16] #196 closed

[2016-05-03 09:47] #199 closed

[2016-05-03 13:23] choonkending commented on #205
I did a bit of digging into the webpack config. I think my understanding of `context`, `resolve.root` and `resolve.modulesDirectories` needs a bit of brushing up but it seems to me that we do not actually need `context`, and instead should just have `resolve.root`.

In any case, I'm renaming constants to `types` because it makes sense semantically

[2016-05-04 14:33] choonkending commented on #205
Based on [this](https://github.com/webpack/webpack/issues/2119#issuecomment-204755403) issue, it doesn't seem like we're the only ones facing this problem.

[2016-05-04 14:41] #205 closed

[2016-05-05 18:30] coderjonny opened #218 "sequelize db:migrate not working on Heroku"
Hi,

I did all the following steps for creating a PG db on Heroku, but when I try to do a migration it doesn't work and I get this error:

[code]

Any ideas?

[2016-05-05 18:36] mjewell commented on #218
You need to define an environment variable called POSTGRES_DB_URL which points to your postgres database. As far as I know if you follow the steps in `docs/databases.md` for installing on heroku this will be done for you. If not, you can always manually add the env variable in heroku yourself as long as you know the db url.

If you look at `/server/db/postgres/sequelize_config.js` you will see tha

[2016-05-05 19:05] coderjonny commented on #218
Hi Michael,

Thanks for the reply. I have that ENV var setup on heroku:
[code]

When I do heroku logs.. it looks like it ``` Successfully connected to sequelize database ```
but when I try to do a migration, it can't connect.

[2016-05-05 19:12] mjewell commented on #218
Hmm, I will have to look into that a little later, nothing obvious springs
to mind.

BTW, that URL string contains your username and password for the postgres
db, so you will want to update that
On May 5, 2016 12:05 PM, "Jonny" <notifications@github.com> wrote:

[2016-05-05 20:37] mjewell commented on #218
Still can't think of anything, but you can take some further steps to debug it. First thing is obviously to make sure you haven't made any changes to anything sequelize related. After that...

You can try running it locally but setting that env variable, something like `NODE_ENV=production POSTGRES_DB_URL=postgres://root:@localhost/react_webpack_node_production sequelize db:migrate`

If that looks

[2016-05-06 13:06] choonkending opened #220 "Code refactors"
**Description**
*JS*
- Use stateless functions if possible
- Ensure propTypes used everywhere
- use `mapDispatchToProps` in our connect functions.

**Current implementation**
[code]

**Moving forward**
[code]

*CSS*
- Vertical rhythm to CSS

[2016-05-09 12:12] IljaDaderko opened #222 "Unexpected key "user" found in initialState"
I'm trying to remove all auth / db related code from the starter kit to have a more clean version, so far so good everything works, there is one bit I am not able to figure out in server.jsx file:

[code]

I'm pretty sure it is this one giving me warning:

`Unexpected key "user" found in initialState argument passed to createStore. Expected to find one of the known reducer keys instead: "routing".

[2016-05-09 13:37] choonkending commented on #212
@Grungla Sorry it took a while for me to get back to you. Yep, it's definitely an issue.

[2016-05-09 14:06] choonkending commented on #212
Pushed a fix for it. Thanks!

[2016-05-09 14:06] #212 closed

[2016-05-09 14:47] IljaDaderko opened #224 "Using classes from 3rd party libraries inside components"
I came across an issue trying to use [Flexbox grid](http://flexboxgrid.com/) in my project. What I did is make a new folder named `libraries` inside `app/css` and put grid css file in there, afterwards, inside `main.css` I included it like so `@import './libraries/grid.css'` assuming that these classes will now be available across the project as `main.css` is included inside `App.jsx` , however us

[2016-05-09 19:19] tadwhitaker commented on #146
I ran everything start to finish all the way through heroku open without any issues. (Bravo for that, seriously.) When I try opening the deployed version, I get the following favicon issue and am not sure where to go from here:

GET https://guarded-lowlands-41879.herokuapp.com/favicon.ico 503 (Service Unavailable)

I assume it's just not reading app/images/favicon.png.

Looking through b187dbb, ch

[2016-05-09 22:53] tadwhitaker commented on #196
Trying to do the same thing and add Bootstrap. Not getting it to work. Meta.jsx is already altered to reflect your suggested change. Here's now I modified helmconfig.js:

  link: [
    // Add to homescreen for Chrome on Android
    { rel: 'icon', href: favicon },
    { rel: 'icon', sizes: '192x192', href: chromecon },
    // Add to homescreen for Safari on IOS
    { rel: 'apple-touch-icon', sizes:

[2016-05-10 11:23] bring2dip opened #226 "User not authenticated when Pre-render middleware calls api."
The user is authenticated for the root route. The req.isAuthenticated() is true. But when i call other routes like localhost:3000/places, the prerender middleware calls the api where the user session is not established while in the store, the user is authenticated. Am I doing anything wrong?

[2016-05-10 11:28] #226 closed

[2016-05-10 21:51] huyphamily commented on #220
What are your thoughts on the short-hand version of mapDispatchToProps, especially when we are not renaming the action creator?

Here's an example:
[code]

[2016-05-10 22:08] huyphamily commented on #196
it looks good, seems like it should work.

The line that is removed from Meta.jsx should stop it from filtering the stylesheet in development.

(all of this is assuming you're grabbing bootstrap from a cdn, which is the easiest way, which you are)

[2016-05-10 22:34] choonkending commented on #220
Thanks for the suggestion!

Yep I like it, unless we find the need to remap our action type creators. Although it would be less understandable. We can roll with the short-hand version and see how we like it.

[code]

I don't think we need to wrap the onClick handler in a function do we? We can just pass in the `prop` as is.

[2016-05-10 23:15] tadwhitaker commented on #196
Couldn't get that to work. Monkey around a fair bit. Wound up just adding it in to server.jsx:

            <head>
              ${header.title.toString()}
              ${header.meta.toString()}
              ${header.link.toString()}
              <link rel="stylesheet" href="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css">
            </head>

[2016-05-10 23:17] tadwhitaker commented on #196
BTW: This repo is amazing. Well done.

[2016-05-11 19:52] horacio-giovine opened #228 "When npm run dev the app crashes"
### Description
- Type: Question

Hi all, i just cloned the repo and tried running the app, but the server keeps crashing and i cant figure out why:

i run: npm run dev -> and this is the output:

`> react-webpack-node@1.7.10 dev /Users/horaciogiovine/react-webpack-node

[nodemon] 1.9.2
[nodemon] to restart at any time, enter `rs`
[nodemon] watching: app/server.jsx app/routes.jsx app/helmconfig.js

[2016-05-11 20:01] #228 closed

[2016-05-11 21:10] huyphamily commented on #220
I agree, you don't need the wrap in this case. As I understand it, and correct me if I'm wrong, if we want to pass in some parameters, then we need to wrap it or use .bind.

`return (<SomeComponent onClick={() => this.props.createTopic('hello')} />`
`return (<SomeComponent onClick={this.props.createTopic.bind(this, 'hello')} />`

[2016-05-14 11:59] 18601673727 opened #229 "It should show a message while auth check fails"
### Description
- Type: Bug

---

**Expected Behavior**
redirect back and show a message while auth check fails
**Actual Behavior**
plain redirection
**Steps to Reproduce**
logout -> click `dashboard`

[2016-05-14 12:02] 18601673727 opened #230 "component(Message) should have external api to been call"
### Description
- Type: Enhancement

---------------------------------------------------------------
**Reason to enhance/problem with existing solution**
our message component sucks
**Suggested enhancement**
rewrite it
**Pros**
so we can use Message component as what it presents
**Cons**
no

[2016-05-15 00:41] upq opened #231 "2 databases..."
Im wondering why are there 2 databases in this project, and How can I use only the postgres and completely remove the mongodb?

[2016-05-15 04:48] rickylqhan commented on #231
A quick search turned up this:

https://github.com/choonkending/react-webpack-node/blob/master/docs/databases.md

[2016-05-15 04:49] #231 closed

[2016-05-16 08:00] IljaDaderko opened #232 "Unable to stop scrolling with overflow hidden on body"
I'm setting a class to body `.freeze` once my modal is open, this simply makes it `overflow: hidden` this usually prevents window from scrolling, but not in the case with this starter pack, which makes me think there is something to do with scrolling packages here? Could you guys advise on what needs to be tweaked? Did some research, wasn't able to find the issue.

[2016-05-18 07:40] choonkending commented on #151
We could use a higher order component to add a CSSTransitionGroup so our existing components won't get affected as much and it would be relatively to remove if you like. https://github.com/choonkending/useful-js-patterns/blob/master/higher-order-components/hOC.js

[2016-05-18 08:47] choonkending commented on #220
@huyphamily You would need to bind it if you're using a function within that component (not the prop) I think.

Also, using an anonymous function in the `render` method is not a good idea because you would not be able to use Pure Render Mixin or optimise rendering.

[2016-05-18 20:28] mikeon commented on #132
@choonkending If it's no problem to ask here, can you give a hint how to force server side rendering to allow use external library like react-media-player? If I create some components which use this library I cannot compile project, the error I get:
`public\assets\server.js:33508
            return document.documentElement[curr] ? curr : prev;`
I tried to use check `if (typeof windows !== 'undefin

[2016-05-19 00:00] jrodl3r opened #233 ""active" class-name on Navigation.jsx Links"
"active" class-name on Navigation Links `activeClassName={cx('active')}` not changing/updating when switching routes.

anybody else have this issue or know cause/fix?

started working after removing all traces of user/dispatch/login/logout, but not sure why.

[2016-05-19 09:30] IljaDaderko opened #234 "What are routes inside config"
I am trying to clear up the package and am not sure if I can safely remove routes, it seems that they are specified there for database purposes and I am not using database. I wanted to find out what their purpose is and how they work?

[2016-05-19 14:23] darkyen commented on #196
This wont work if your css is delivered via npm, any suggestions how to use that?

[2016-05-19 14:32] darkyen opened #235 "How to use npm distributed css?"
Hey guys, I am using `react-mdl` for the UI lib and they distribute their own updated css files for mdl. Usually I'd just do import 'react-mdl/extra/material.css'; but due to postcss loader I do not think that is the right way to do things.

How should I import the 3rd party css in this scenario?

[2016-05-19 14:40] darkyen opened #236 "Why is server.js exposed?"
https://react-webpack-node.herokuapp.com/assets/server.js

Exposes the server.js, why?

[2016-05-20 14:59] choonkending commented on #224
Hey thanks for raising this issue.

There should be a better way to use both libraries and our own css.

Because we're using `css?modules` in our `webpack.config`, `className` changes to being prefixed, unless you specify in your css to have

[code]

so you would be able include those classnames. Let me know how that goes!

[2016-05-20 15:13] jrodl3r commented on #235
Might be a little more complex then just loading the CSS file. Wouldn't `classNames` (cx) also break the class naming structure that MDL uses/expects? I'm not 100% sure, but seems like a pretty significant conversion of MDL would be needed.

[2016-05-20 15:33] darkyen commented on #235
Which is why am asking here :P

[2016-05-21 15:05] jrodl3r opened #239 "[Close]"
[Edited]

[2016-05-23 00:08] joernroeder commented on #95
same here with the current version and node `5.11.1`.

[code]

[2016-05-23 06:26] bottledsmoke commented on #236
The server files are never sent to the client. What you are looking at is the result of webpack using app/server.jsx as an entry point and bundling the server-side rendering code. This file is sent as a response to initial requests to the server and rendered out.

[2016-05-23 15:00] darkyen commented on #236
I understand it is potentially harmless, just wondering why is it openly hosted :S

[2016-05-24 05:25] colinlmcdonald opened #241 "Optimistic updates"
### Description
- Type: Enhancement
- Related Issue: 140

---------------------------------------------------------------
## Enhancement

**Reason to enhance/problem with existing solution**
Updates should happen on success. If there is no success, error message should happen instead.

**Suggested enhancement**
Move optimistic updates to on success updates in incrementCount, decrementCount, and de

[2016-05-24 12:30] xiaofan2406 opened #242 "a version for react-redux-router server rending"
## Question
Is it possible to make a branch that's only related to react and server rendering stuff? that is, remove the api server, the mongo stuff.

[2016-05-24 13:32] wnederhof opened #243 "Uncaught TypeError: Object.assign is not a function"
### Description
- Type: Bug

---------------------------------------------------------------
## Bug
**Expected Behavior**
Using Google Chrome 44, I should be able to type something in the `Vote for your top hack idea` textbox without JavaScript errors. Furthermore, I should be able to login and register.

**Actual Behavior**
Whenever I execute any of the actions stated above, I get the JavaScript

[2016-05-24 15:29] IljaDaderko opened #244 "Purpose and usage of promiseMiddleware?"
I'm trying to get a grasp of what `promiseMiddleware` function is used for. Do I just need to dispatch a type of REQUEST and it will than return either a type_SUCCESS or type_FAILURE based on what my api call returns? Or is this used for something else? I'm asking this as in examples provided all 3 types REQUEST, SUCCESS and FAILURE are dispatched manually

[2016-05-24 19:34] slavab89 commented on #244
In the general thought you are correct.
If there is no promise in the action - just client side - then it will stop and just call that action.
When you dispatch some action that contains a promise - api call - this middleware will dispatch 2 of the 3 events, REQUEST to indicate that a request has been issued, and SUCCESS or FAILURE to indicate what happened.

In the example that you see for the to

[2016-05-24 21:34] choonkending commented on #241
Agreed! Thanks a lot for contributing!!

On Tue, 24 May 2016 15:25 Colin McDonald <notifications@github.com> wrote:

[2016-05-25 00:01] jrodl3r commented on #113
Also getting this error, even on something as simple as changing the text of an H1 tag.

Found that wrapping `${componentHTML}` in an extra div makes the warning stop happening after each reload (http://stackoverflow.com/a/33521172):

```<div id="app"><div>${componentHTML}</div></div>```

Are there any major issues with doing this?

[2016-05-25 18:27] elitekode opened #245 "was wondering whether react webpack node can run on aws"
Note: This is just a template, so feel free to use/remove the unnecessary things

### Description
- Type: Bug | Enhancement | Question
- Related Issue: `#abc`

---------------------------------------------------------------
## Bug
**Expected Behavior**

**Actual Behavior**

**Steps to Reproduce**

----------------------------------------------------------------
## Enhancement

**Reason to enhance/

[2016-05-25 23:42] colinlmcdonald commented on #241
No worries! I'll try to have a pull request for you in the next couple of days.

[2016-05-27 21:15] benwiley4000 opened #246 "In promiseMiddleware, axios response called "req"?"
## Question

In [`promiseMiddleware`](https://github.com/choonkending/react-webpack-node/blob/master/app/middlewares/promiseMiddleware.js#L17) the `axios` response is referred to as `req`. Is this a typo (should it be called `res`)? I've been using `req` in my own code since I was copying a lot of pieces from this project but I'm starting to think maybe it was a mistake, since the POST request han

[2016-05-27 21:43] colinlmcdonald commented on #241
So I added some error handling for the cases listed above and added an 'error' key to the state. I could work on mapping that to actually displaying the message and adding tests for components as well.

Let me know if that sounds good and if you had any suggestions/opinion on how the error messaging handling should operate and which component it should go in.

[2016-05-29 00:19] jrodl3r opened #248 "Passing Query Params to Components..."
How do you pass query params (`this.props.params`) to components when configuring routes?

This example shows `userID` being passed along to the `User` component: https://github.com/reactjs/react-router/blob/master/examples/query-params/app.js

Love the project, Thx!

[2016-05-29 00:34] jrodl3r commented on #248
Also, the component format is not the same as how the example has it. I'm looking for a solution that will work with the newer component style you've shifted over to using on this project more recently...
[code]

[2016-05-30 14:24] caranicas commented on #245
I have a project that I built with this boilerplate  currently up and running on Amazon AWS. Your question of how to is a bit vague, so I will just run down the steps I took. and provide a few links.

I set up an AWS account using the free tier. I didn't feel it was necessary to go with something like elastic beanstalk, so I used a pure EC2 instance.

Before you make our instances you need to crea

[2016-05-30 14:55] choonkending commented on #245
What a champion!!! Hahah!

[2016-05-30 18:38] elitekode commented on #245
Thank you so much! Caranicas. I was having a long day when o asked that question. I ended up deploying it to a droplet with Ubuntu 14 node 6 pm2. If there is anything I can do to help you please let me know. I am an information scoundrel :)

[2016-05-30 23:23] caranicas commented on #245
@elitekode yeah happy to help. This boilerplate is awesome and has helped me a ton, so anytime I can  help pay it forward I like to. It helped me get my app up in 6 weeks and only have to focus on learning about react and redux, and node, without having to wire it all up.

@choonkending feel free to lift any or all of this for the AWS section of the read me, or if you'd like me to put something to

[2016-05-31 17:23] nitte93 opened #249 "Module build failed: Error: Couldn't find preset "es2015" relative to directory"
### Description
- Type:  Question

I did `npm install.`
Then `npm run dev.`
It is throwing hte following error.

[code]
[code]
---------------------------------------------------------------
## Bug
**Steps to Reproduce**
`npm install`
`npm run dev`

----------------------------------------------------------------

## Question
I then tried to install the preset myself. I did.
` npm install babel-cl

[2016-05-31 22:57] choonkending commented on #241
Good work @colinlmcdonald! Thanks a lot for contributing! I'll close this issue, but feel free to re-open if you still have any enhancements/fixes related to this!

[2016-05-31 22:57] #241 closed

[2016-06-01 10:30] IljaDaderko opened #250 "Can't set api inside server.jsx"
I'm trying to configure axios to use my own api via:

[code]

And call it inside actions like so:

[code]

but all requests go to localhost:3000/waiting-list not sure entirely to what I am doing wrong

[2016-06-01 17:06] jrodl3r opened #251 "Express.js Config (Views)"
I can't figure out these two lines in `config/express.js`
[code]
Is this legacy code, or am I missing something? Thx!

+@choonkending

[2016-06-02 16:17] caranicas opened #252 "Segmentation fault"
Note: This is just a template, so feel free to use/remove the unnecessary things

- Type: Bug

**Expected Behavior**

`npm run dev` should start the dev server without any issues

**Actual Behavior**

[code]

**Steps to Reproduce**

So I upgraded to node 6, and that might be what is at the root of this, because I have been getting some other strange behavior, but occasionally when come back to my

[2016-06-03 07:41] choonkending commented on #251
Sorry about that and thanks for spotting this!

You're not missing anything! This brings me back to the good ol' days with `swig`. Hehe.

Would you like to create a PR for this?

[2016-06-03 07:45] choonkending commented on #245
@caranicas Would be great to add an `aws.md` under `/docs` and link it from README. I think the information you provided is more than sufficient and a good starting point!

[2016-06-03 07:51] choonkending commented on #242
Yep I think that's a valid concern. Thanks for raising this issue!

Currently what we have is the ability to specify `DB_TYPE.NONE` in [appConfig](https://github.com/choonkending/react-webpack-node/blob/master/server/config/appConfig.js), so we don't execute the mongo/db stuff, but if you have suggestions to improve this `cleaner` version more, feel free to suggest!

[2016-06-03 07:51] #239 closed

[2016-06-03 09:50] slavab89 commented on #245
Just wanted to share my small input here regarding the ports of the app and the AWS instance.
Its actually not a very good practice to use the iptables to redirect incoming requests from port 80 to port XXXX

A better solution would be to use amazon's ELB - Load Balancer ability. Meaning set up an elb that will do this redirect. It will also allow you to monitor the number of requests and some mor

[2016-06-04 05:30] psimyn commented on #249
did the npm install finish fully?

can try either running it again, or `rm -rf node_modules` and then `npm i` again

if that still breaks, check everything is ok in your package.json

[2016-06-04 06:26] psimyn commented on #197
I think react-native would be a separate repo - "separating dependencies and versions" implies different `package.json`s

and for this the web/node bits are inherently coupled

[2016-06-04 06:40] #185 closed

[2016-06-04 06:51] psimyn commented on #222
you can pass an empty object (or maybe `undefined`) to configureStore.

The reason for that error is you removed the `user` reducer from `reducers/index.js`, so it's no longer expecting a `user` as part of the state

[Redux docs for createStore] (http://redux.js.org/docs/api/createStore.html) have some more explanation and examples. Please re-open or comment if you are still having trouble

[2016-06-04 06:51] #222 closed

[2016-06-04 06:53] psimyn commented on #167
@choonkending you could add a `setup` script that does install / build (and maybe start)

I agree that post install stuff can be a little unexpected, especially since this one nukes the folders as well

[2016-06-04 07:11] #101 closed

[2016-06-04 07:12] choonkending commented on #101
Feel to reopen if u have any issues or concerns. Will close for now.

[2016-06-04 09:03] MsUzoAgu commented on #250
hi @IljaDaderko did you figure out what the problem/issue was?

[2016-06-04 09:33] #252 closed

[2016-06-04 09:34] psimyn commented on #252
bumped kerberos (which was segfaulting for me)

`npm i` after grabbing this change and let me know if it is fixed

[2016-06-04 09:40] psimyn commented on #232
is the class not being applied, or it is and you can still scroll the body?

manually adding overflow: hidden to the body (in devtools) does prevent scrolling. Can you provide your code?

[2016-06-04 09:49] IljaDaderko commented on #250
@MsUzoAgu No, waiting for reply here for any ideas of what could be causing the issue. You came across it as well?

[2016-06-04 09:50] IljaDaderko commented on #232
@psimyn The class gets applied correctly, however I am still able to scroll the body.

[2016-06-04 09:52] MsUzoAgu commented on #250
@IljaDaderko: First question I have is: are you running app in dev mode? If so then all requests will always go to localhost:3000 (using rails).

[2016-06-04 09:52] psimyn commented on #232
can you link to code (or the page) so I can take a look?

[2016-06-04 09:56] IljaDaderko commented on #250
@MsUzoAgu ah, that could be an issue, is there a way to make it respect new api setup even in dev mode?

[2016-06-04 09:57] psimyn commented on #246
good eyes! looks like a typo. If you want to create PR it can be insta-merged, otherwise it'll get fixed up in one of the upcoming cleanups

[2016-06-04 10:03] MsUzoAgu commented on #250
@IljaDaderko: Not that I am aware of.

My question would "what are trying to achieve/test right now? My guess is that you are trying to see if your api setup works correct right? But under the url `localhost:3000/waiting-list` you are getting some type of error (probably a route not found error. Is this true?

[2016-06-04 10:10] IljaDaderko commented on #250
@MsUzoAgu Essentially I am working on localhost and trying to test my web app, to do so I need it to perform api calls, therefore I want to work on localhost:3000 but instead of calling localhost:3000/waiting-list call myApi.com/waiting-list

[2016-06-04 10:20] psimyn commented on #234
the routes in server are used to fetch data and give it to the react components - so if you have no db they can be removed.

Easiest thing to start with is to comment out the `routesConfig(app)` line in `server/index.js` (there is a comment about exactly this). You may also need to make some changes to `server.jsx` since it currently gets data from the routes

Please re-open or comment if you need

[2016-06-04 10:20] #234 closed

[2016-06-04 10:26] MsUzoAgu commented on #250
@IljaDaderko: Given the information at hand, as far as I know you only have access to `myAPi.com/waiting-list` in production not in dev mode. To access `myAPi.com/waiting-list` you need to deploy your application (and I am saying this with the assumption that myApi.com is a domain you have)

Last question: Why do you want to call `myAPi.com/waiting-list` in dev mode? Are you getting any errors?

I

[2016-06-04 10:26] psimyn commented on #119
I think all done @choonkending ?

[2016-06-04 12:38] caranicas commented on #252
ok ill pull the latest and keep you updated. Hopefully that should clean up the stack traces that keep clogging up my terminal.

[2016-06-04 21:52] jrodl3r opened #261 "Unit Testing Stateless Components w/ Karma"
Having trouble unit testing even the simplest of stateless components. Getting it to fail/not-render is no problem, just passing the rendering test w/ good array data.

Any gotchas that I might be missing on wiring-up tests for stateless component?

Thx

[2016-06-04 23:18] choonkending commented on #261
Need to use react-stateless-wrapper for testing I believe

On Sun, 5 Jun 2016 07:52 John Rodler <notifications@github.com> wrote:

[2016-06-05 00:26] jrodl3r commented on #261
**`/app/tests/components/MainSection-test.js`**

[code]

How would _this_ test work/change if the `TopicItem` component were stateless?

Thx

[2016-06-05 00:49] choonkending commented on #261
You would need to wrap TopicItem in a `wrap`.

[code]

Anything stateless in react needs to be wrapped in a component.

We might consider moving towards [Enzyme](https://github.com/airbnb/enzyme) from airbnb in the future if we find this not a good idea.

[2016-06-05 01:05] #251 closed

[2016-06-05 01:18] psimyn commented on #250
in this case I think you will still want axios baseUrl to be localhost (since the browser -> server requests are still localhost:3000). For the specific requests you are sending to the external page, you can pass an absolute url to `request` and then it'll ignore baseUrl.

Example
[code]

[2016-06-05 01:44] choonkending commented on #119
not sure if I did it :(

[2016-06-05 01:45] choonkending commented on #119
Yep, have not done this yet. This is the helmet for security.

[2016-06-05 04:45] jrodl3r commented on #261
I get that it needs to be wrapped, but on this MainSection-test example, the `TopicItem` is being passed to `ReactTestUtils.scryRenderedComponentsWithType(result, TopicItem);` - If you change that `TopicItem` param to `WrappedTopicItem` the test fails.

I guess I'm asking how you can have a Karma test here where both the parent and child component being tested are stateless. Does that make more se

[2016-06-05 08:17] #243 closed

[2016-06-05 20:24] jrodl3r commented on #261
Would love to setup a PR to add Enzyme support for UI testing... However, it's a little fuzzy for me as to how you would add Enzyme to the current testing configuration (along side the _actions_ and _reducers_ tests), while removing the current "wrap" system that is in place for testing UI and rendering.

Point me in the right direction and I'll be more than happy to take a shot, Thx!

[2016-06-05 23:05] #220 closed

[2016-06-05 23:11] choonkending opened #263 "Cleaner Code"
⚠️  This is a placeholder for me to list down the potential refactors we can do to clean up our code.

I will be adding more to this list + documenting them before working on it.

## Enhancement

**Simplifying code**
- Use ES6 for array.concat
[code]
- Use ES6 for instead of Object.assign
[code]
- Reducer composition
[code]
where our topics can be composed with topic.

Explanation [here](https://e

[2016-06-06 13:47] caranicas commented on #263
we are using `stage-0` in babel so we can use  the object spread operator as well instead of `Object.assign()`  its so clean

[2016-06-06 15:48] benwiley4000 commented on #246
@psimyn: here you go. https://github.com/choonkending/react-webpack-node/pull/264

[2016-06-08 14:12] #250 closed

[2016-06-08 14:13] #244 closed

[2016-06-08 14:14] #232 closed

[2016-06-08 14:17] IljaDaderko opened #265 "Correct way to fetch data from the api during initial page load?"
In a non serverside rendering approach I would usually make an api call inside `componentWillMount()` to start fetching data (lets say list of blog posts) once users access the page. I believe this is a really bad approach + we have this promiseMiddleware that can be used for things like showing loading on a page, hence I wanted to ask for correct usage example i.e. how can I perform an api call w

[2016-06-09 01:09] caranicas opened #266 "update docs and structure"
Note: This is just a template, so feel free to use/remove the unnecessary things

## Enhancement

Clean up markdown and structure.

**Pros**

Easier to read and digest small bits of information.

**Cons**

More docs to keep track of.

[2016-06-09 16:13] #265 closed

[2016-06-09 16:16] IljaDaderko opened #268 "pass router props to static need issue"
I am trying to fetch some user data based on a token from url like `mysite.com/w/:token` that leads to `WaitingListPage` component

[code]

however in this case `this.props.routeParams.token` results in error

Hence I wanted to ask how could I achieve this functionality?

[2016-06-10 01:29] jrodl3r commented on #268
#248

[2016-06-10 14:20] IljaDaderko commented on #268
Was able to achieve the task via:

[code]

[2016-06-10 14:20] #268 closed

[2016-06-10 14:24] IljaDaderko opened #274 "Bundle splitting"
My project is getting relatively big for one bundle, hence I wanted to look into bundle splitting, i.e. using separate bundles for separate pages, If anyone could kickstart me in the right direction, I can work a pull request for this if needed.

[2016-06-10 16:57] jrodl3r opened #275 "Socket.io"
Would love to use socketIO as the fetch API... Has anybody tried forking that into this system yet?

Thx

[2016-06-11 04:02] #246 closed

[2016-06-11 08:56] slavab89 commented on #274
There is this page https://webpack.github.io/docs/code-splitting.html which i didnt try.
There is also a plugin that looks promising https://webpack.github.io/docs/list-of-plugins.html#dllplugin which as i understood it puts all your vendor modules in a different file.

On this note, i also wanted to ask you about your build times, how are they? initial build and reloading?

[2016-06-11 16:00] vierja commented on #268
@IljaDaderko can you explain a bit more on how you were able to achieve that using that code? I'm having the same issue.

[2016-06-12 09:13] IljaDaderko commented on #274
@slavab89 builds take up 7405ms and 7552ms seconds for both build stages, and rebuilding is usually quick. I will look into links you provided, thank you.

[2016-06-12 09:20] IljaDaderko opened #276 "Unable to use static need ... build error + eslint error"
Bellow is a stripped down code for one of my container components that needs to fetch some api data before rendering. I used static need as shown in this example: https://github.com/choonkending/react-webpack-node/blob/master/app/containers/Vote.jsx however am getting an es-lint error despite the disable comment and when I try to run `npm run dev` I get following error:

**my code**
NOTE: I'm not

[2016-06-12 13:31] caranicas commented on #275
Yep, I have a pending pull request with socketIO integrated. #253 I'm using it as a simple anonymous chat POC. I have a game that I want to build so chat was more in line with what I needed. But from my little experience it looks like it would be pretty easy to use for fetching.

Feel free to check it out  and make a new PR when you get it going. I'd love to see sockets being used for fetching too

[2016-06-12 13:38] caranicas opened #277 "Project list"
@choonkending

Any interest in adding a completed and in progress project list to readme linking to project using this boilerplate? I built my first project using it (6 weeks part time). And I have another one on the way. So I think it might be useful for people to see what this boilerplate enables.